<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <agent solrConnectionString="http://localhost:8090/solr/medialib-debug/update/json?commitWithin=1000"
         packagesRetainerLimt="25"
         currentProcessingComponentKey="real"
         currentMonitoringComponentKey="real" xdt:Transform="Replace">
    <music sourceDirectory="C:\Code\m\Music"
           searchPattern="*.mp3|*.ogg"
           xdt:Transform="Replace"/>
    <lyrics sourceDirectory="C:\Code\m\Lyrics"
           searchPattern="*.lrc"
           xdt:Transform="Replace"/>
  </agent>
</configuration>