<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="agent" type="Sciendo.Music.Real.Procesors.Configuration.AgentConfigurationSection, Sciendo.Music.Real" />
    <section name="ioc" type="Sciendo.IOC.Configuration.IOCConfigurationSection, Sciendo.IOC.Configuration" />
  </configSections>
  <ioc>
    <assemblies>
      <add key="mock" assemblyFilter="*.Music.Mocks.dll" />
      <add key="real" assemblyFilter="*.Music.Real.dll" />
    </assemblies>
  </ioc>
  <agent solrConnectionString="http://localhost:8080/solr/medialib-debug/update/json?commitWithin=1000" packagesRetainerLimt="2">
    <music sourceDirectory="C:\Code\m\Sciendo.Index\Music" 
           searchPattern="*.mp3|*.ogg" 
           currentProcessingComponentKey="real" 
           currentMonitoringComponentKey="realmusic" />
    <lyrics sourceDirectory="C:\Code\m\Sciendo.Index\Lyrics"
            searchPattern="*.lrc"
            currentProcessingComponentKey="real"
            currentMonitoringComponentKey="reallyrics" />
  </agent>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="Sciendo.Music.Agent.Service.MusicService" behaviorConfiguration="ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7000/MusicAgentService" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="Sciendo.Music.Contracts.MusicService.IMusic" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
