<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="indexer" type="Sciendo.Indexer.Agent.IndexerConfigurationSection, Sciendo.Indexer.Agent"/>
  </configSections>
  <indexer solrConnectionString="http://localhost:8080/solr/medialib/update/json?commitWithin=1000">
    <music sourceDirectory="c:\users\octo\Music" searchPattern="*.mp3|*.ogg" currentImplementation="mock"/>
    <lyrics sourceDirectory="C:\Code\Sciendo\Sciendo.RESTl\target" searchPattern="*.lrc" currentImplementation="mock"/>
  </indexer>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="Sciendo.Indexer.Agent.IndexerAgentService"
               behaviorConfiguration="ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7000/IndexerAgentService"/>
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="Sciendo.Indexer.Agent.IIndexerAgent" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>