<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="indexer" type="Sciendo.Indexer.IndexerConfigurationSection, Sciendo.Indexer"/>
  </configSections>
  <indexer solrConnectionString="http://localhost:8080/solr/medialib/update/json?commitWithin=1000">
    <music sourceDirectory="c:\users\octo\Music" searchPattern="*.mp3|*.ogg"/>
    <lyrics sourceDirectory="C:\Code\Sciendo\Sciendo.RESTl\target" searchPattern="*.lrc"/>
  </indexer>
</configuration>