<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IMusic" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7000/MusicAgentService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IMusic" contract="MusicClient.IMusic"
                name="WSHttpBinding_IMusic">
                <identity>
                    <servicePrincipalName value="host/EUNBH6SMTZ1.idev.spencerstuart.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>