<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="indexer" type="Sciendo.Indexer.Agent.IndexerConfigurationSection, Sciendo.Indexer.Agent" />
  </configSections>
  <indexer solrConnectionString="http://localhost:8080/solr/medialib/update/json?commitWithin=1000" packagesRetainerLimt="2">
    <music sourceDirectory="TestData\Music" searchPattern="*.mp3|*.ogg" currentProcessingImplementation="mock" currentMonitoringImplementation="mockmusic" />
    <lyrics sourceDirectory="TestData\Lyrics" searchPattern="*.lrc" currentProcessingImplementation="mock" currentMonitoringImplementation="mockmusic" />
  </indexer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup></configuration>
