<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:wix="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
						
						<Directory Id="dirc22c9151d0214e59847f5f8462975ebd" Name="App_Data">
						
												
			<Component Id="cmpc2c5f897589f49e0a4e482c62c51667c" Guid="{c2c5f897-589f-49e0-a4e4-82c62c51667c}">
				<File Id="filec2c5f897589f49e0a4e482c62c51667c" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\App_Data\examplequeryresult.json"/>
			</Component>
	
												
			<Component Id="cmp7951bc01db87423e85d9c87dc09422a8" Guid="{7951bc01-db87-423e-85d9-c87dc09422a8}">
				<File Id="file7951bc01db87423e85d9c87dc09422a8" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\App_Data\filteredjsonexample.json"/>
			</Component>
	
			
			</Directory>
						<Directory Id="dir428afb3fc0614dc6b256887acd1691c0" Name="bin">
						
						<Directory Id="dir7aa35875ef0749608f3107e1f095eafc" Name="App_Data">
						
												
			<Component Id="cmp3a5d45e2355d4dd0b9ad02100d33367d" Guid="{3a5d45e2-355d-4dd0-b9ad-02100d33367d}">
				<File Id="file3a5d45e2355d4dd0b9ad02100d33367d" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\App_Data\examplequeryresult.json"/>
			</Component>
	
												
			<Component Id="cmpedfaf8ffafce4789997a0e6e4f0ad730" Guid="{edfaf8ff-afce-4789-997a-0e6e4f0ad730}">
				<File Id="fileedfaf8ffafce4789997a0e6e4f0ad730" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\App_Data\filteredjsonexample.json"/>
			</Component>
	
			
			</Directory>
												
			<Component Id="cmpf5d21747ef4345b9a6e3a3c13562bcf0" Guid="{f5d21747-ef43-45b9-a6e3-a3c13562bcf0}">
				<File Id="filef5d21747ef4345b9a6e3a3c13562bcf0" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Antlr3.Runtime.dll"/>
			</Component>
	
												
			<Component Id="cmpf6ec285143d5427397585c92ac707258" Guid="{f6ec2851-43d5-4273-9758-5c92ac707258}">
				<File Id="filef6ec285143d5427397585c92ac707258" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Antlr3.Runtime.pdb"/>
			</Component>
	
												
			<Component Id="cmp73500ed6757a40e2bce3e743a65c205f" Guid="{73500ed6-757a-40e2-bce3-e743a65c205f}">
				<File Id="file73500ed6757a40e2bce3e743a65c205f" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Id3.dll"/>
			</Component>
	
												
			<Component Id="cmpe55b5e42e3664f0895da1855df0ea886" Guid="{e55b5e42-e366-4f08-95da-1855df0ea886}">
				<File Id="filee55b5e42e3664f0895da1855df0ea886" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\log4net.dll"/>
			</Component>
	
												
			<Component Id="cmp48acd959a642404784de6d61bb7de765" Guid="{48acd959-a642-4047-84de-6d61bb7de765}">
				<File Id="file48acd959a642404784de6d61bb7de765" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\log4net.xml"/>
			</Component>
	
												
			<Component Id="cmp5589cdd420e341b9bdc49bda82360d5e" Guid="{5589cdd4-20e3-41b9-bdc4-9bda82360d5e}">
				<File Id="file5589cdd420e341b9bdc49bda82360d5e" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Microsoft.AspNet.SignalR.Core.dll"/>
			</Component>
	
												
			<Component Id="cmp32e041482dee4908a559050eddbba98a" Guid="{32e04148-2dee-4908-a559-050eddbba98a}">
				<File Id="file32e041482dee4908a559050eddbba98a" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Microsoft.AspNet.SignalR.Core.xml"/>
			</Component>
	
												
			<Component Id="cmpb207a68eafa241028337f57dfa92410a" Guid="{b207a68e-afa2-4102-8337-f57dfa92410a}">
				<File Id="fileb207a68eafa241028337f57dfa92410a" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Microsoft.AspNet.SignalR.SystemWeb.dll"/>
			</Component>
	
												
			<Component Id="cmp4ed5c90fa5c7428bbcfb096fe57925a8" Guid="{4ed5c90f-a5c7-428b-bcfb-096fe57925a8}">
				<File Id="file4ed5c90fa5c7428bbcfb096fe57925a8" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Microsoft.AspNet.SignalR.SystemWeb.xml"/>
			</Component>
	
												
			<Component Id="cmp5397b5a323e443788013997dda55cd7a" Guid="{5397b5a3-23e4-4378-8013-997dda55cd7a}">
				<File Id="file5397b5a323e443788013997dda55cd7a" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Microsoft.Owin.dll"/>
			</Component>
	
												
			<Component Id="cmp824d99a624d04137b4e65946075e8eec" Guid="{824d99a6-24d0-4137-b4e6-5946075e8eec}">
				<File Id="file824d99a624d04137b4e65946075e8eec" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Microsoft.Owin.Host.SystemWeb.dll"/>
			</Component>
	
												
			<Component Id="cmpeef20cd7ffe34b81b3e8c499eefe6a7f" Guid="{eef20cd7-ffe3-4b81-b3e8-c499eefe6a7f}">
				<File Id="fileeef20cd7ffe34b81b3e8c499eefe6a7f" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Microsoft.Owin.Host.SystemWeb.xml"/>
			</Component>
	
												
			<Component Id="cmpedf3d14c07194f93a4911bf0fba54d1d" Guid="{edf3d14c-0719-4f93-a491-1bf0fba54d1d}">
				<File Id="fileedf3d14c07194f93a4911bf0fba54d1d" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Microsoft.Owin.Security.dll"/>
			</Component>
	
												
			<Component Id="cmpde4801453a63424bae1ffe7bf807c190" Guid="{de480145-3a63-424b-ae1f-fe7bf807c190}">
				<File Id="filede4801453a63424bae1ffe7bf807c190" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Microsoft.Owin.Security.xml"/>
			</Component>
	
												
			<Component Id="cmp91c1490ab52049a98fc6608941c14b06" Guid="{91c1490a-b520-49a9-8fc6-608941c14b06}">
				<File Id="file91c1490ab52049a98fc6608941c14b06" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Microsoft.Owin.xml"/>
			</Component>
	
												
			<Component Id="cmp88e7bef19a674a778a52b3bfb57a8d0d" Guid="{88e7bef1-9a67-4a77-8a52-b3bfb57a8d0d}">
				<File Id="file88e7bef19a674a778a52b3bfb57a8d0d" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Microsoft.Web.Infrastructure.dll"/>
			</Component>
	
												
			<Component Id="cmpf83513fb5d704704b56ed03bfb6a2a78" Guid="{f83513fb-5d70-4704-b56e-d03bfb6a2a78}">
				<File Id="filef83513fb5d704704b56ed03bfb6a2a78" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Newtonsoft.Json.dll"/>
			</Component>
	
												
			<Component Id="cmp01bc24f9887b4465898eecdef29f7a86" Guid="{01bc24f9-887b-4465-898e-ecdef29f7a86}">
				<File Id="file01bc24f9887b4465898eecdef29f7a86" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Newtonsoft.Json.xml"/>
			</Component>
	
												
			<Component Id="cmp3e81311ff34d44dbb9bea0ba226ef505" Guid="{3e81311f-f34d-44db-b9be-a0ba226ef505}">
				<File Id="file3e81311ff34d44dbb9bea0ba226ef505" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Owin.dll"/>
			</Component>
	
												
			<Component Id="cmp3d19872c5e544e05b6b0af3298a8f293" Guid="{3d19872c-5e54-4e05-b6b0-af3298a8f293}">
				<File Id="file3d19872c5e544e05b6b0af3298a8f293" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Sciendo.Common.dll"/>
			</Component>
	
												
			<Component Id="cmp352befc6ba05437493fe056d26edb276" Guid="{352befc6-ba05-4374-93fe-056d26edb276}">
				<File Id="file352befc6ba05437493fe056d26edb276" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Sciendo.IOC.Configuration.dll"/>
			</Component>
	
												
			<Component Id="cmp0c97c33b84534a09bd480d5eb94d8bf3" Guid="{0c97c33b-8453-4a09-bd48-0d5eb94d8bf3}">
				<File Id="file0c97c33b84534a09bd480d5eb94d8bf3" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Sciendo.IOC.dll"/>
			</Component>
	
												
			<Component Id="cmp630909a2c4274613ae437af76a52c5e7" Guid="{630909a2-c427-4613-ae43-7af76a52c5e7}">
				<File Id="file630909a2c4274613ae437af76a52c5e7" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Sciendo.Music.DataProviders.dll"/>
			</Component>
	
												
			<Component Id="cmpca49cc9c8d35459789c377c4311a41e2" Guid="{ca49cc9c-8d35-4597-89c3-77c4311a41e2}">
				<File Id="fileca49cc9c8d35459789c377c4311a41e2" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Sciendo.Music.DataProviders.Mocks.dll"/>
			</Component>
	
												
			<Component Id="cmp24f1e7c2446e433b9d3e09a1612301c7" Guid="{24f1e7c2-446e-433b-9d3e-09a1612301c7}">
				<File Id="file24f1e7c2446e433b9d3e09a1612301c7" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Sciendo.Music.DataProviders.Mocks.pdb"/>
			</Component>
	
												
			<Component Id="cmp04f8c3dedb0c4416acdec754b93d6b01" Guid="{04f8c3de-db0c-4416-acde-c754b93d6b01}">
				<File Id="file04f8c3dedb0c4416acdec754b93d6b01" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Sciendo.Music.DataProviders.pdb"/>
			</Component>
	
												
			<Component Id="cmpa8e546b6f9014aa59706a73ce2c9c24b" Guid="{a8e546b6-f901-4aa5-9706-a73ce2c9c24b}">
				<File Id="filea8e546b6f9014aa59706a73ce2c9c24b" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Sciendo.Music.Web.dll"/>
			</Component>
	
												
			<Component Id="cmp02ffb5b9753048648bb854e5dbad0cd5" Guid="{02ffb5b9-7530-4864-8bb8-54e5dbad0cd5}">
				<File Id="file02ffb5b9753048648bb854e5dbad0cd5" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Sciendo.Music.Web.pdb"/>
			</Component>
	
												
			<Component Id="cmpd477cbb0d47b4573aab0200919bb0363" Guid="{d477cbb0-d47b-4573-aab0-200919bb0363}">
				<File Id="filed477cbb0d47b4573aab0200919bb0363" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Web.Helpers.dll"/>
			</Component>
	
												
			<Component Id="cmp2b31a9c9f7d84920a1667eb961845911" Guid="{2b31a9c9-f7d8-4920-a166-7eb961845911}">
				<File Id="file2b31a9c9f7d84920a1667eb961845911" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Web.Helpers.xml"/>
			</Component>
	
												
			<Component Id="cmpb740012d11a84f74ae72ed342985cb78" Guid="{b740012d-11a8-4f74-ae72-ed342985cb78}">
				<File Id="fileb740012d11a84f74ae72ed342985cb78" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Web.Mvc.dll"/>
			</Component>
	
												
			<Component Id="cmp1801f18c42b0433d8e03cf55ccec288b" Guid="{1801f18c-42b0-433d-8e03-cf55ccec288b}">
				<File Id="file1801f18c42b0433d8e03cf55ccec288b" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Web.Mvc.xml"/>
			</Component>
	
												
			<Component Id="cmpbd41375cdd0c4092923223e1119b545e" Guid="{bd41375c-dd0c-4092-9232-23e1119b545e}">
				<File Id="filebd41375cdd0c4092923223e1119b545e" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Web.Optimization.dll"/>
			</Component>
	
												
			<Component Id="cmp3357333135c44a7189de50291093aea2" Guid="{33573331-35c4-4a71-89de-50291093aea2}">
				<File Id="file3357333135c44a7189de50291093aea2" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Web.Optimization.xml"/>
			</Component>
	
												
			<Component Id="cmp901715fb9016440a8de50b1e85477a9b" Guid="{901715fb-9016-440a-8de5-0b1e85477a9b}">
				<File Id="file901715fb9016440a8de50b1e85477a9b" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Web.Razor.dll"/>
			</Component>
	
												
			<Component Id="cmpc3167501833f4e7db543d18752a6b514" Guid="{c3167501-833f-4e7d-b543-d18752a6b514}">
				<File Id="filec3167501833f4e7db543d18752a6b514" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Web.Razor.xml"/>
			</Component>
	
												
			<Component Id="cmp3178d3f066ed46c1a70d4d9fbd743d87" Guid="{3178d3f0-66ed-46c1-a70d-4d9fbd743d87}">
				<File Id="file3178d3f066ed46c1a70d4d9fbd743d87" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Web.WebPages.Deployment.dll"/>
			</Component>
	
												
			<Component Id="cmp30edfcda7a3e4b76846fdb2e55f29df2" Guid="{30edfcda-7a3e-4b76-846f-db2e55f29df2}">
				<File Id="file30edfcda7a3e4b76846fdb2e55f29df2" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Web.WebPages.Deployment.xml"/>
			</Component>
	
												
			<Component Id="cmpe6add1e12f9f4f2993039a9ecf311a90" Guid="{e6add1e1-2f9f-4f29-9303-9a9ecf311a90}">
				<File Id="filee6add1e12f9f4f2993039a9ecf311a90" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Web.WebPages.dll"/>
			</Component>
	
												
			<Component Id="cmp54206ba8ee58488ca7450275747fbe13" Guid="{54206ba8-ee58-488c-a745-0275747fbe13}">
				<File Id="file54206ba8ee58488ca7450275747fbe13" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Web.WebPages.Razor.dll"/>
			</Component>
	
												
			<Component Id="cmp22ade49e86ac4febb8816688a90e8dc5" Guid="{22ade49e-86ac-4feb-b881-6688a90e8dc5}">
				<File Id="file22ade49e86ac4febb8816688a90e8dc5" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Web.WebPages.Razor.xml"/>
			</Component>
	
												
			<Component Id="cmpf6e6989a6f1a41a7a5b197f93f7700f0" Guid="{f6e6989a-6f1a-41a7-a5b1-97f93f7700f0}">
				<File Id="filef6e6989a6f1a41a7a5b197f93f7700f0" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Web.WebPages.xml"/>
			</Component>
	
												
			<Component Id="cmp099c24ce336448df9ef6bd83e793bc0e" Guid="{099c24ce-3364-48df-9ef6-bd83e793bc0e}">
				<File Id="file099c24ce336448df9ef6bd83e793bc0e" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\WebGrease.dll"/>
			</Component>
	
			
			</Directory>
						<Directory Id="dire42921664a9746988659b112851d2c25" Name="Content">
						
						<Directory Id="dir1a9e69e32818483382c2c2c566547230" Name="indexing">
						
						<Directory Id="dir4700bccab6624d9d9507e3375e1618f8" Name="images">
						
												
			<Component Id="cmp7cea9cbf27594e4a912266ad9e0ac2d5" Guid="{7cea9cbf-2759-4e4a-9122-66ad9e0ac2d5}">
				<File Id="file7cea9cbf27594e4a912266ad9e0ac2d5" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\accent.png"/>
			</Component>
	
												
			<Component Id="cmpa463c23cd61043ff93aa738999c811d8" Guid="{a463c23c-d610-43ff-93aa-738999c811d8}">
				<File Id="filea463c23cd61043ff93aa738999c811d8" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\bullet.png"/>
			</Component>
	
												
			<Component Id="cmpbf4e57bc9d304fec9c2bea43d05e78f1" Guid="{bf4e57bc-9d30-4fec-9c2b-ea43d05e78f1}">
				<File Id="filebf4e57bc9d304fec9c2bea43d05e78f1" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\Done.png"/>
			</Component>
	
												
			<Component Id="cmp71b2fe8f5bb24852a9a3bbcd3de4cf2c" Guid="{71b2fe8f-5bb2-4852-a9a3-bbcd3de4cf2c}">
				<File Id="file71b2fe8f5bb24852a9a3bbcd3de4cf2c" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\Error.png"/>
			</Component>
	
												
			<Component Id="cmp1b8d6db49c624a6695b28a956a170353" Guid="{1b8d6db4-9c62-4a66-95b2-8a956a170353}">
				<File Id="file1b8d6db49c624a6695b28a956a170353" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\heroAccent.png"/>
			</Component>
	
												
			<Component Id="cmpb70d49fda3004f508439b832ea991730" Guid="{b70d49fd-a300-4f50-8439-b832ea991730}">
				<File Id="fileb70d49fda3004f508439b832ea991730" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\orderedList0.png"/>
			</Component>
	
												
			<Component Id="cmpf8e660b5e35647bebe7d74f410bcf689" Guid="{f8e660b5-e356-47be-be7d-74f410bcf689}">
				<File Id="filef8e660b5e35647bebe7d74f410bcf689" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\orderedList1.png"/>
			</Component>
	
												
			<Component Id="cmp3e25e71c97c147888375d4cd3b5cdaa4" Guid="{3e25e71c-97c1-4788-8375-d4cd3b5cdaa4}">
				<File Id="file3e25e71c97c147888375d4cd3b5cdaa4" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\orderedList2.png"/>
			</Component>
	
												
			<Component Id="cmpecb8b852614842e78dff2c6d20260c1c" Guid="{ecb8b852-6148-42e7-8dff-2c6d20260c1c}">
				<File Id="fileecb8b852614842e78dff2c6d20260c1c" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\orderedList3.png"/>
			</Component>
	
												
			<Component Id="cmp4155ee43692b4c909edb647ceb07842a" Guid="{4155ee43-692b-4c90-9edb-647ceb07842a}">
				<File Id="file4155ee43692b4c909edb647ceb07842a" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\orderedList4.png"/>
			</Component>
	
												
			<Component Id="cmp3132934b3c504948b4f3dde7a26b3115" Guid="{3132934b-3c50-4948-b4f3-dde7a26b3115}">
				<File Id="file3132934b3c504948b4f3dde7a26b3115" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\orderedList5.png"/>
			</Component>
	
												
			<Component Id="cmp5629cdf4ea8a41d786d9ff1e8995f49c" Guid="{5629cdf4-ea8a-41d7-86d9-ff1e8995f49c}">
				<File Id="file5629cdf4ea8a41d786d9ff1e8995f49c" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\orderedList6.png"/>
			</Component>
	
												
			<Component Id="cmp047cea89bc474a03a19c0a3c7af18443" Guid="{047cea89-bc47-4a03-a19c-0a3c7af18443}">
				<File Id="file047cea89bc474a03a19c0a3c7af18443" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\orderedList7.png"/>
			</Component>
	
												
			<Component Id="cmpa03fe096aaeb442b94f8fe7b7eb9dcba" Guid="{a03fe096-aaeb-442b-94f8-fe7b7eb9dcba}">
				<File Id="filea03fe096aaeb442b94f8fe7b7eb9dcba" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\orderedList8.png"/>
			</Component>
	
												
			<Component Id="cmpfa6ae752a87c4fe2aa1bb3e5f1f7264c" Guid="{fa6ae752-a87c-4fe2-aa1b-b3e5f1f7264c}">
				<File Id="filefa6ae752a87c4fe2aa1bb3e5f1f7264c" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\orderedList9.png"/>
			</Component>
	
												
			<Component Id="cmp4aa66ed6344f48a7ab22c48c89374672" Guid="{4aa66ed6-344f-48a7-ab22-c48c89374672}">
				<File Id="file4aa66ed6344f48a7ab22c48c89374672" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\playlist_add.png"/>
			</Component>
	
			
			</Directory>
												
			<Component Id="cmp36e0a378beba42b3b97acccd97720738" Guid="{36e0a378-beba-42b3-b97a-cccd97720738}">
				<File Id="file36e0a378beba42b3b97acccd97720738" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\specific.css"/>
			</Component>
	
			
			</Directory>
						<Directory Id="dir8ed8a66b6fe54b12874b0ad592d2f27f" Name="themes">
						
						<Directory Id="dir48e7aea6bac24da59877b81210a148bb" Name="base">
						
						<Directory Id="dir1666ddeca70e40e087c7ffc456c36791" Name="images">
						
			
			</Directory>
												
			<Component Id="cmp2a6eefebe65e44d7b311111373953ed5" Guid="{2a6eefeb-e65e-44d7-b311-111373953ed5}">
				<File Id="file2a6eefebe65e44d7b311111373953ed5" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\accordion.css"/>
			</Component>
	
												
			<Component Id="cmp1aed26246eb7405dab3c503727914121" Guid="{1aed2624-6eb7-405d-ab3c-503727914121}">
				<File Id="file1aed26246eb7405dab3c503727914121" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\all.css"/>
			</Component>
	
												
			<Component Id="cmp96ced96f62e347ecbcdf263b284f9575" Guid="{96ced96f-62e3-47ec-bcdf-263b284f9575}">
				<File Id="file96ced96f62e347ecbcdf263b284f9575" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\autocomplete.css"/>
			</Component>
	
												
			<Component Id="cmp00e1c8bc963e4b72af11f61fc2090887" Guid="{00e1c8bc-963e-4b72-af11-f61fc2090887}">
				<File Id="file00e1c8bc963e4b72af11f61fc2090887" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\base.css"/>
			</Component>
	
												
			<Component Id="cmpaa600d547e48455ab7faf2002ebc705d" Guid="{aa600d54-7e48-455a-b7fa-f2002ebc705d}">
				<File Id="fileaa600d547e48455ab7faf2002ebc705d" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\button.css"/>
			</Component>
	
												
			<Component Id="cmpb60c6a404c27489aad3420f20dda0e13" Guid="{b60c6a40-4c27-489a-ad34-20f20dda0e13}">
				<File Id="fileb60c6a404c27489aad3420f20dda0e13" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\core.css"/>
			</Component>
	
												
			<Component Id="cmpb0a2ee5941b04f5ea07c7c36ef8f5c93" Guid="{b0a2ee59-41b0-4f5e-a07c-7c36ef8f5c93}">
				<File Id="fileb0a2ee5941b04f5ea07c7c36ef8f5c93" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\datepicker.css"/>
			</Component>
	
												
			<Component Id="cmp07c9d3aa257843c9beef8dfc344257dc" Guid="{07c9d3aa-2578-43c9-beef-8dfc344257dc}">
				<File Id="file07c9d3aa257843c9beef8dfc344257dc" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\dialog.css"/>
			</Component>
	
												
			<Component Id="cmpa5d531ee1e7243dbb89ecf557c3fba0f" Guid="{a5d531ee-1e72-43db-b89e-cf557c3fba0f}">
				<File Id="filea5d531ee1e7243dbb89ecf557c3fba0f" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\draggable.css"/>
			</Component>
	
												
			<Component Id="cmpfaed8181e117414b972a2dac361f2f53" Guid="{faed8181-e117-414b-972a-2dac361f2f53}">
				<File Id="filefaed8181e117414b972a2dac361f2f53" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\menu.css"/>
			</Component>
	
												
			<Component Id="cmp110881627a864b48964ec62d13862377" Guid="{11088162-7a86-4b48-964e-c62d13862377}">
				<File Id="file110881627a864b48964ec62d13862377" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\progressbar.css"/>
			</Component>
	
												
			<Component Id="cmpb2db609f79454bef8bf86a6a202ddb3d" Guid="{b2db609f-7945-4bef-8bf8-6a6a202ddb3d}">
				<File Id="fileb2db609f79454bef8bf86a6a202ddb3d" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\resizable.css"/>
			</Component>
	
												
			<Component Id="cmpc7811662f0104e0594e96b6a4defed76" Guid="{c7811662-f010-4e05-94e9-6b6a4defed76}">
				<File Id="filec7811662f0104e0594e96b6a4defed76" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\selectable.css"/>
			</Component>
	
												
			<Component Id="cmp308364e6e74c4775808f9b9a1fe3c60f" Guid="{308364e6-e74c-4775-808f-9b9a1fe3c60f}">
				<File Id="file308364e6e74c4775808f9b9a1fe3c60f" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\selectmenu.css"/>
			</Component>
	
												
			<Component Id="cmp0c0bafebeb7d4a248669b19c6a3e378a" Guid="{0c0bafeb-eb7d-4a24-8669-b19c6a3e378a}">
				<File Id="file0c0bafebeb7d4a248669b19c6a3e378a" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\slider.css"/>
			</Component>
	
												
			<Component Id="cmp4facb56a5a36443b9e1bd06939a7a6a8" Guid="{4facb56a-5a36-443b-9e1b-d06939a7a6a8}">
				<File Id="file4facb56a5a36443b9e1bd06939a7a6a8" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\sortable.css"/>
			</Component>
	
												
			<Component Id="cmp33dc8d8d09b3468db20f921383467c1d" Guid="{33dc8d8d-09b3-468d-b20f-921383467c1d}">
				<File Id="file33dc8d8d09b3468db20f921383467c1d" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\spinner.css"/>
			</Component>
	
												
			<Component Id="cmpf668722d5a594105966da7cf57a6bf38" Guid="{f668722d-5a59-4105-966d-a7cf57a6bf38}">
				<File Id="filef668722d5a594105966da7cf57a6bf38" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\tabs.css"/>
			</Component>
	
												
			<Component Id="cmp4d41227b342e4ec5baf3a4299af394ea" Guid="{4d41227b-342e-4ec5-baf3-a4299af394ea}">
				<File Id="file4d41227b342e4ec5baf3a4299af394ea" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\theme.css"/>
			</Component>
	
												
			<Component Id="cmpeb3769fa7ca541f1b24b044a41be5544" Guid="{eb3769fa-7ca5-41f1-b24b-044a41be5544}">
				<File Id="fileeb3769fa7ca541f1b24b044a41be5544" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\tooltip.css"/>
			</Component>
	
			
			</Directory>
			
			</Directory>
												
			<Component Id="cmp1eec59988ef7474d8f113688276910f3" Guid="{1eec5998-8ef7-474d-8f11-3688276910f3}">
				<File Id="file1eec59988ef7474d8f113688276910f3" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\bootstrap.css"/>
			</Component>
	
												
			<Component Id="cmp6a44744387654b31adfc600dd557aaee" Guid="{6a447443-8765-4b31-adfc-600dd557aaee}">
				<File Id="file6a44744387654b31adfc600dd557aaee" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\bootstrap.min.css"/>
			</Component>
	
												
			<Component Id="cmpcfa0d06c60224cb880bcc05e62b3bc46" Guid="{cfa0d06c-6022-4cb8-80bc-c05e62b3bc46}">
				<File Id="filecfa0d06c60224cb880bcc05e62b3bc46" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\ko.binding.style.css"/>
			</Component>
	
												
			<Component Id="cmp79d93a94b5c044bcba33126ebc7aa439" Guid="{79d93a94-b5c0-44bc-ba33-126ebc7aa439}">
				<File Id="file79d93a94b5c044bcba33126ebc7aa439" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\Site.css"/>
			</Component>
	
			
			</Directory>
						<Directory Id="dir0ca4e611a1154cf7b0c3a48e2d0e93c7" Name="fonts">
						
												
			<Component Id="cmp48acd0808bb74754acb3a92f2a59be9b" Guid="{48acd080-8bb7-4754-acb3-a92f2a59be9b}">
				<File Id="file48acd0808bb74754acb3a92f2a59be9b" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\fonts\glyphicons-halflings-regular.eot"/>
			</Component>
	
												
			<Component Id="cmpd3677ead55994def907444e1b5d52fb0" Guid="{d3677ead-5599-4def-9074-44e1b5d52fb0}">
				<File Id="filed3677ead55994def907444e1b5d52fb0" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\fonts\glyphicons-halflings-regular.svg"/>
			</Component>
	
												
			<Component Id="cmpfe75b8ffe5e64fcdae588f0b39694816" Guid="{fe75b8ff-e5e6-4fcd-ae58-8f0b39694816}">
				<File Id="filefe75b8ffe5e64fcdae588f0b39694816" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\fonts\glyphicons-halflings-regular.ttf"/>
			</Component>
	
												
			<Component Id="cmpa9d0db195be64eb08c70ed94c1cec415" Guid="{a9d0db19-5be6-4eb0-8c70-ed94c1cec415}">
				<File Id="filea9d0db195be64eb08c70ed94c1cec415" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\fonts\glyphicons-halflings-regular.woff"/>
			</Component>
	
			
			</Directory>
						<Directory Id="dir5096f830025a4d45a778c28739aa3244" Name="Scripts">
						
						<Directory Id="dircadf0058e5ac40e193ab31818660e587" Name="sciendo.music">
						
												
			<Component Id="cmp9a256be8a99a4c6387506aae8ad23708" Guid="{9a256be8-a99a-4c63-8750-6aae8ad23708}">
				<File Id="file9a256be8a99a4c6387506aae8ad23708" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\sciendo.music\index.autocomplete.js"/>
			</Component>
	
												
			<Component Id="cmp87a706bc8c764c82aa14f4ab4c495ae7" Guid="{87a706bc-8c76-4c82-aa14-f4ab4c495ae7}">
				<File Id="file87a706bc8c764c82aa14f4ab4c495ae7" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\sciendo.music\index.viewmodel.js"/>
			</Component>
	
												
			<Component Id="cmp13233114b8d14ca98cf2f63c7a65b28d" Guid="{13233114-b8d1-4ca9-8cf2-f63c7a65b28d}">
				<File Id="file13233114b8d14ca98cf2f63c7a65b28d" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\sciendo.music\knockout.simpleGrid.1.3.js"/>
			</Component>
	
												
			<Component Id="cmp898fe59730ec42a485de95dc99d64594" Guid="{898fe597-30ec-42a4-85de-95dc99d64594}">
				<File Id="file898fe59730ec42a485de95dc99d64594" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\sciendo.music\query.datacontext.js"/>
			</Component>
	
												
			<Component Id="cmp4001b36650df4c6c95995879adbd69f4" Guid="{4001b366-50df-4c6c-9599-5879adbd69f4}">
				<File Id="file4001b36650df4c6c95995879adbd69f4" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\sciendo.music\query.viewmodel.js"/>
			</Component>
	
			
			</Directory>
												
			<Component Id="cmp4dc59c47770a44dd96ac21d9936c7fcb" Guid="{4dc59c47-770a-44dd-96ac-21d9936c7fcb}">
				<File Id="file4dc59c47770a44dd96ac21d9936c7fcb" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\bootstrap.js"/>
			</Component>
	
												
			<Component Id="cmp75414f0f8be84da7b69f9e32423d7888" Guid="{75414f0f-8be8-4da7-b69f-9e32423d7888}">
				<File Id="file75414f0f8be84da7b69f9e32423d7888" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\bootstrap.min.js"/>
			</Component>
	
												
			<Component Id="cmp9a1694356b964b65951b1b448f19cd05" Guid="{9a169435-6b96-4b65-951b-1b448f19cd05}">
				<File Id="file9a1694356b964b65951b1b448f19cd05" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\jquery-1.10.2.intellisense.js"/>
			</Component>
	
												
			<Component Id="cmp82779c571d784aa5a3c0f89704d30eaf" Guid="{82779c57-1d78-4aa5-a3c0-f89704d30eaf}">
				<File Id="file82779c571d784aa5a3c0f89704d30eaf" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\jquery-1.10.2.js"/>
			</Component>
	
												
			<Component Id="cmpdf84e06cd93d4281a223dbee265fbecb" Guid="{df84e06c-d93d-4281-a223-dbee265fbecb}">
				<File Id="filedf84e06cd93d4281a223dbee265fbecb" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\jquery-1.10.2.min.js"/>
			</Component>
	
												
			<Component Id="cmpa763d541da6d485c843d677196e44593" Guid="{a763d541-da6d-485c-843d-677196e44593}">
				<File Id="filea763d541da6d485c843d677196e44593" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\jquery-1.10.2.min.map"/>
			</Component>
	
												
			<Component Id="cmpb41523b7bc4546238edf5d1feece8cd7" Guid="{b41523b7-bc45-4623-8edf-5d1feece8cd7}">
				<File Id="fileb41523b7bc4546238edf5d1feece8cd7" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\jquery-ui-1.11.3.js"/>
			</Component>
	
												
			<Component Id="cmpafc85c7689694f5289ae5fc53663e637" Guid="{afc85c76-8969-4f52-89ae-5fc53663e637}">
				<File Id="fileafc85c7689694f5289ae5fc53663e637" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\jquery-ui-1.11.3.min.js"/>
			</Component>
	
												
			<Component Id="cmp7b4ea26cac404a23bcdb7370b9ee8aa9" Guid="{7b4ea26c-ac40-4a23-bcdb-7370b9ee8aa9}">
				<File Id="file7b4ea26cac404a23bcdb7370b9ee8aa9" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\jquery.signalR-2.2.0.js"/>
			</Component>
	
												
			<Component Id="cmp8741cf4fa7f44daba671ff626e128dce" Guid="{8741cf4f-a7f4-4dab-a671-ff626e128dce}">
				<File Id="file8741cf4fa7f44daba671ff626e128dce" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\jquery.signalR-2.2.0.min.js"/>
			</Component>
	
												
			<Component Id="cmp49855508415f4af387a1105f748094f0" Guid="{49855508-415f-4af3-87a1-105f748094f0}">
				<File Id="file49855508415f4af387a1105f748094f0" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\jquery.validate-vsdoc.js"/>
			</Component>
	
												
			<Component Id="cmp67cdb8aeeaac44779f4f3c6dc5aaf3b3" Guid="{67cdb8ae-eaac-4477-9f4f-3c6dc5aaf3b3}">
				<File Id="file67cdb8aeeaac44779f4f3c6dc5aaf3b3" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\jquery.validate.js"/>
			</Component>
	
												
			<Component Id="cmp73ed56c9608745329561f0d8f6a046ae" Guid="{73ed56c9-6087-4532-9561-f0d8f6a046ae}">
				<File Id="file73ed56c9608745329561f0d8f6a046ae" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\jquery.validate.min.js"/>
			</Component>
	
												
			<Component Id="cmp15dd347137ef47838667a877daaecf3d" Guid="{15dd3471-37ef-4783-8667-a877daaecf3d}">
				<File Id="file15dd347137ef47838667a877daaecf3d" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\jquery.validate.unobtrusive.js"/>
			</Component>
	
												
			<Component Id="cmp7da433f5484e40f18331deff2ea4f3f7" Guid="{7da433f5-484e-40f1-8331-deff2ea4f3f7}">
				<File Id="file7da433f5484e40f18331deff2ea4f3f7" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\jquery.validate.unobtrusive.min.js"/>
			</Component>
	
												
			<Component Id="cmp69005ba7cfe34328b5e51b6e249087eb" Guid="{69005ba7-cfe3-4328-b5e5-1b6e249087eb}">
				<File Id="file69005ba7cfe34328b5e51b6e249087eb" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\knockout-3.2.0.debug.js"/>
			</Component>
	
												
			<Component Id="cmpba963952088f486caaed85c8d8b60bfa" Guid="{ba963952-088f-486c-aaed-85c8d8b60bfa}">
				<File Id="fileba963952088f486caaed85c8d8b60bfa" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\knockout-3.2.0.js"/>
			</Component>
	
												
			<Component Id="cmp1bfc6dfcb1c54a6d966e2788ef8e23d0" Guid="{1bfc6dfc-b1c5-4a6d-966e-2788ef8e23d0}">
				<File Id="file1bfc6dfcb1c54a6d966e2788ef8e23d0" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\ko.autocomplete.js"/>
			</Component>
	
												
			<Component Id="cmp33fb336026564cb6af610b27dc882532" Guid="{33fb3360-2656-4cb6-af61-0b27dc882532}">
				<File Id="file33fb336026564cb6af610b27dc882532" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\modernizr-2.6.2.js"/>
			</Component>
	
												
			<Component Id="cmpfcb57be866d14ef399eafa4364a13682" Guid="{fcb57be8-66d1-4ef3-99ea-fa4364a13682}">
				<File Id="filefcb57be866d14ef399eafa4364a13682" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\respond.js"/>
			</Component>
	
												
			<Component Id="cmpb658d03585a0479eac6157c45951a4bb" Guid="{b658d035-85a0-479e-ac61-57c45951a4bb}">
				<File Id="fileb658d03585a0479eac6157c45951a4bb" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\respond.min.js"/>
			</Component>
	
												
			<Component Id="cmp9fea03f5b8fe45669455b242a4793f1e" Guid="{9fea03f5-b8fe-4566-9455-b242a4793f1e}">
				<File Id="file9fea03f5b8fe45669455b242a4793f1e" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\_references.js"/>
			</Component>
	
			
			</Directory>
						<Directory Id="dir541f02c9ef3f454da4a7c90a5421e199" Name="Views">
						<Component Id="cmpviewswebconfig" Guid="{47321547-AC70-4541-AD1F-AA8C6E7BBF8E}">
				<File Id="fileviewswebconfig" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Views\web.config"/>
			</Component>

						
						<Directory Id="dirca20b37e41fd4b5987cf9fcb63ee8030" Name="Home">
						
												
			<Component Id="cmp6345ed330d4d454fb9f74c61ae7aa5b5" Guid="{6345ed33-0d4d-454f-b9f7-4c61ae7aa5b5}">
				<File Id="file6345ed330d4d454fb9f74c61ae7aa5b5" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Views\Home\About.cshtml"/>
			</Component>
	
												
			<Component Id="cmp0986f911bbd34070b606f93b26a3b62b" Guid="{0986f911-bbd3-4070-b606-f93b26a3b62b}">
				<File Id="file0986f911bbd34070b606f93b26a3b62b" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Views\Home\Contact.cshtml"/>
			</Component>
	
												
			<Component Id="cmpffa56e17d21d40d58a3766e37f149aa0" Guid="{ffa56e17-d21d-40d5-8a37-66e37f149aa0}">
				<File Id="fileffa56e17d21d40d58a3766e37f149aa0" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Views\Home\Index.cshtml"/>
			</Component>
	
			
			</Directory>
						<Directory Id="dirb21cd9c95c67491680304116440ab26c" Name="Query">
						
												
			<Component Id="cmp30ca85c3d14749518c83dd19115999f5" Guid="{30ca85c3-d147-4951-8c83-dd19115999f5}">
				<File Id="file30ca85c3d14749518c83dd19115999f5" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Views\Query\Index.cshtml"/>
			</Component>
	
			
			</Directory>
						<Directory Id="dir65c5fdafe1314ee8aa8c01b2b5f50802" Name="Shared">
						
												
			<Component Id="cmpbd9977c2bae549728edef574b0d318da" Guid="{bd9977c2-bae5-4972-8ede-f574b0d318da}">
				<File Id="filebd9977c2bae549728edef574b0d318da" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Views\Shared\Error.cshtml"/>
			</Component>
	
												
			<Component Id="cmpffdd2a61dfed498ebfe10f838956fb27" Guid="{ffdd2a61-dfed-498e-bfe1-0f838956fb27}">
				<File Id="fileffdd2a61dfed498ebfe10f838956fb27" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Views\Shared\_Layout.cshtml"/>
			</Component>
	
			
			</Directory>
												
			<Component Id="cmpc160da739ce24b4292112015e5a91961" Guid="{c160da73-9ce2-4b42-9211-2015e5a91961}">
				<File Id="filec160da739ce24b4292112015e5a91961" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Views\_ViewStart.cshtml"/>
			</Component>
	
			
			</Directory>
												
			<Component Id="cmpb670b5ce923e40fd8df43681fee04071" Guid="{b670b5ce-923e-40fd-8df4-3681fee04071}">
				<File Id="fileb670b5ce923e40fd8df43681fee04071" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\favicon.ico"/>
			</Component>
	
												
			<Component Id="cmp86851fd006c4451699e37d7ef827e617" Guid="{86851fd0-06c4-4516-99e3-7d7ef827e617}">
				<File Id="file86851fd006c4451699e37d7ef827e617" KeyPath="yes" Source="C:\Code\Sciendo\Sciendo.Index\SlIndex\Sciendo.Music.Web\Global.asax"/>
			</Component>
	
			
		</DirectoryRef>
	</Fragment>
	<Fragment>
		<ComponentGroup Id="Sciendo.Music.Web.Files">
					<ComponentRef Id="cmpc2c5f897589f49e0a4e482c62c51667c"/>
					<ComponentRef Id="cmp7951bc01db87423e85d9c87dc09422a8"/>
					<ComponentRef Id="cmp3a5d45e2355d4dd0b9ad02100d33367d"/>
					<ComponentRef Id="cmpedfaf8ffafce4789997a0e6e4f0ad730"/>
					<ComponentRef Id="cmpf5d21747ef4345b9a6e3a3c13562bcf0"/>
					<ComponentRef Id="cmpf6ec285143d5427397585c92ac707258"/>
					<ComponentRef Id="cmp73500ed6757a40e2bce3e743a65c205f"/>
					<ComponentRef Id="cmpe55b5e42e3664f0895da1855df0ea886"/>
					<ComponentRef Id="cmp48acd959a642404784de6d61bb7de765"/>
					<ComponentRef Id="cmp5589cdd420e341b9bdc49bda82360d5e"/>
					<ComponentRef Id="cmp32e041482dee4908a559050eddbba98a"/>
					<ComponentRef Id="cmpb207a68eafa241028337f57dfa92410a"/>
					<ComponentRef Id="cmp4ed5c90fa5c7428bbcfb096fe57925a8"/>
					<ComponentRef Id="cmp5397b5a323e443788013997dda55cd7a"/>
					<ComponentRef Id="cmp824d99a624d04137b4e65946075e8eec"/>
					<ComponentRef Id="cmpeef20cd7ffe34b81b3e8c499eefe6a7f"/>
					<ComponentRef Id="cmpedf3d14c07194f93a4911bf0fba54d1d"/>
					<ComponentRef Id="cmpde4801453a63424bae1ffe7bf807c190"/>
					<ComponentRef Id="cmp91c1490ab52049a98fc6608941c14b06"/>
					<ComponentRef Id="cmp88e7bef19a674a778a52b3bfb57a8d0d"/>
					<ComponentRef Id="cmpf83513fb5d704704b56ed03bfb6a2a78"/>
					<ComponentRef Id="cmp01bc24f9887b4465898eecdef29f7a86"/>
					<ComponentRef Id="cmp3e81311ff34d44dbb9bea0ba226ef505"/>
					<ComponentRef Id="cmp3d19872c5e544e05b6b0af3298a8f293"/>
					<ComponentRef Id="cmp352befc6ba05437493fe056d26edb276"/>
					<ComponentRef Id="cmp0c97c33b84534a09bd480d5eb94d8bf3"/>
					<ComponentRef Id="cmp630909a2c4274613ae437af76a52c5e7"/>
					<ComponentRef Id="cmpca49cc9c8d35459789c377c4311a41e2"/>
					<ComponentRef Id="cmp24f1e7c2446e433b9d3e09a1612301c7"/>
					<ComponentRef Id="cmp04f8c3dedb0c4416acdec754b93d6b01"/>
					<ComponentRef Id="cmpa8e546b6f9014aa59706a73ce2c9c24b"/>
					<ComponentRef Id="cmp02ffb5b9753048648bb854e5dbad0cd5"/>
					<ComponentRef Id="cmpd477cbb0d47b4573aab0200919bb0363"/>
					<ComponentRef Id="cmp2b31a9c9f7d84920a1667eb961845911"/>
					<ComponentRef Id="cmpb740012d11a84f74ae72ed342985cb78"/>
					<ComponentRef Id="cmp1801f18c42b0433d8e03cf55ccec288b"/>
					<ComponentRef Id="cmpbd41375cdd0c4092923223e1119b545e"/>
					<ComponentRef Id="cmp3357333135c44a7189de50291093aea2"/>
					<ComponentRef Id="cmp901715fb9016440a8de50b1e85477a9b"/>
					<ComponentRef Id="cmpc3167501833f4e7db543d18752a6b514"/>
					<ComponentRef Id="cmp3178d3f066ed46c1a70d4d9fbd743d87"/>
					<ComponentRef Id="cmp30edfcda7a3e4b76846fdb2e55f29df2"/>
					<ComponentRef Id="cmpe6add1e12f9f4f2993039a9ecf311a90"/>
					<ComponentRef Id="cmp54206ba8ee58488ca7450275747fbe13"/>
					<ComponentRef Id="cmp22ade49e86ac4febb8816688a90e8dc5"/>
					<ComponentRef Id="cmpf6e6989a6f1a41a7a5b197f93f7700f0"/>
					<ComponentRef Id="cmp099c24ce336448df9ef6bd83e793bc0e"/>
					<ComponentRef Id="cmp7cea9cbf27594e4a912266ad9e0ac2d5"/>
					<ComponentRef Id="cmpa463c23cd61043ff93aa738999c811d8"/>
					<ComponentRef Id="cmpbf4e57bc9d304fec9c2bea43d05e78f1"/>
					<ComponentRef Id="cmp71b2fe8f5bb24852a9a3bbcd3de4cf2c"/>
					<ComponentRef Id="cmp1b8d6db49c624a6695b28a956a170353"/>
					<ComponentRef Id="cmpb70d49fda3004f508439b832ea991730"/>
					<ComponentRef Id="cmpf8e660b5e35647bebe7d74f410bcf689"/>
					<ComponentRef Id="cmp3e25e71c97c147888375d4cd3b5cdaa4"/>
					<ComponentRef Id="cmpecb8b852614842e78dff2c6d20260c1c"/>
					<ComponentRef Id="cmp4155ee43692b4c909edb647ceb07842a"/>
					<ComponentRef Id="cmp3132934b3c504948b4f3dde7a26b3115"/>
					<ComponentRef Id="cmp5629cdf4ea8a41d786d9ff1e8995f49c"/>
					<ComponentRef Id="cmp047cea89bc474a03a19c0a3c7af18443"/>
					<ComponentRef Id="cmpa03fe096aaeb442b94f8fe7b7eb9dcba"/>
					<ComponentRef Id="cmpfa6ae752a87c4fe2aa1bb3e5f1f7264c"/>
					<ComponentRef Id="cmp4aa66ed6344f48a7ab22c48c89374672"/>
					<ComponentRef Id="cmp36e0a378beba42b3b97acccd97720738"/>
					<ComponentRef Id="cmp2a6eefebe65e44d7b311111373953ed5"/>
					<ComponentRef Id="cmp1aed26246eb7405dab3c503727914121"/>
					<ComponentRef Id="cmp96ced96f62e347ecbcdf263b284f9575"/>
					<ComponentRef Id="cmp00e1c8bc963e4b72af11f61fc2090887"/>
					<ComponentRef Id="cmpaa600d547e48455ab7faf2002ebc705d"/>
					<ComponentRef Id="cmpb60c6a404c27489aad3420f20dda0e13"/>
					<ComponentRef Id="cmpb0a2ee5941b04f5ea07c7c36ef8f5c93"/>
					<ComponentRef Id="cmp07c9d3aa257843c9beef8dfc344257dc"/>
					<ComponentRef Id="cmpa5d531ee1e7243dbb89ecf557c3fba0f"/>
					<ComponentRef Id="cmpfaed8181e117414b972a2dac361f2f53"/>
					<ComponentRef Id="cmp110881627a864b48964ec62d13862377"/>
					<ComponentRef Id="cmpb2db609f79454bef8bf86a6a202ddb3d"/>
					<ComponentRef Id="cmpc7811662f0104e0594e96b6a4defed76"/>
					<ComponentRef Id="cmp308364e6e74c4775808f9b9a1fe3c60f"/>
					<ComponentRef Id="cmp0c0bafebeb7d4a248669b19c6a3e378a"/>
					<ComponentRef Id="cmp4facb56a5a36443b9e1bd06939a7a6a8"/>
					<ComponentRef Id="cmp33dc8d8d09b3468db20f921383467c1d"/>
					<ComponentRef Id="cmpf668722d5a594105966da7cf57a6bf38"/>
					<ComponentRef Id="cmp4d41227b342e4ec5baf3a4299af394ea"/>
					<ComponentRef Id="cmpeb3769fa7ca541f1b24b044a41be5544"/>
					<ComponentRef Id="cmp1eec59988ef7474d8f113688276910f3"/>
					<ComponentRef Id="cmp6a44744387654b31adfc600dd557aaee"/>
					<ComponentRef Id="cmpcfa0d06c60224cb880bcc05e62b3bc46"/>
					<ComponentRef Id="cmp79d93a94b5c044bcba33126ebc7aa439"/>
					<ComponentRef Id="cmp48acd0808bb74754acb3a92f2a59be9b"/>
					<ComponentRef Id="cmpd3677ead55994def907444e1b5d52fb0"/>
					<ComponentRef Id="cmpfe75b8ffe5e64fcdae588f0b39694816"/>
					<ComponentRef Id="cmpa9d0db195be64eb08c70ed94c1cec415"/>
					<ComponentRef Id="cmp9a256be8a99a4c6387506aae8ad23708"/>
					<ComponentRef Id="cmp87a706bc8c764c82aa14f4ab4c495ae7"/>
					<ComponentRef Id="cmp13233114b8d14ca98cf2f63c7a65b28d"/>
					<ComponentRef Id="cmp898fe59730ec42a485de95dc99d64594"/>
					<ComponentRef Id="cmp4001b36650df4c6c95995879adbd69f4"/>
					<ComponentRef Id="cmp4dc59c47770a44dd96ac21d9936c7fcb"/>
					<ComponentRef Id="cmp75414f0f8be84da7b69f9e32423d7888"/>
					<ComponentRef Id="cmp9a1694356b964b65951b1b448f19cd05"/>
					<ComponentRef Id="cmp82779c571d784aa5a3c0f89704d30eaf"/>
					<ComponentRef Id="cmpdf84e06cd93d4281a223dbee265fbecb"/>
					<ComponentRef Id="cmpa763d541da6d485c843d677196e44593"/>
					<ComponentRef Id="cmpb41523b7bc4546238edf5d1feece8cd7"/>
					<ComponentRef Id="cmpafc85c7689694f5289ae5fc53663e637"/>
					<ComponentRef Id="cmp7b4ea26cac404a23bcdb7370b9ee8aa9"/>
					<ComponentRef Id="cmp8741cf4fa7f44daba671ff626e128dce"/>
					<ComponentRef Id="cmp49855508415f4af387a1105f748094f0"/>
					<ComponentRef Id="cmp67cdb8aeeaac44779f4f3c6dc5aaf3b3"/>
					<ComponentRef Id="cmp73ed56c9608745329561f0d8f6a046ae"/>
					<ComponentRef Id="cmp15dd347137ef47838667a877daaecf3d"/>
					<ComponentRef Id="cmp7da433f5484e40f18331deff2ea4f3f7"/>
					<ComponentRef Id="cmp69005ba7cfe34328b5e51b6e249087eb"/>
					<ComponentRef Id="cmpba963952088f486caaed85c8d8b60bfa"/>
					<ComponentRef Id="cmp1bfc6dfcb1c54a6d966e2788ef8e23d0"/>
					<ComponentRef Id="cmp33fb336026564cb6af610b27dc882532"/>
					<ComponentRef Id="cmpfcb57be866d14ef399eafa4364a13682"/>
					<ComponentRef Id="cmpb658d03585a0479eac6157c45951a4bb"/>
					<ComponentRef Id="cmp9fea03f5b8fe45669455b242a4793f1e"/>
					<ComponentRef Id="cmp6345ed330d4d454fb9f74c61ae7aa5b5"/>
					<ComponentRef Id="cmp0986f911bbd34070b606f93b26a3b62b"/>
					<ComponentRef Id="cmpffa56e17d21d40d58a3766e37f149aa0"/>
					<ComponentRef Id="cmp30ca85c3d14749518c83dd19115999f5"/>
					<ComponentRef Id="cmpbd9977c2bae549728edef574b0d318da"/>
					<ComponentRef Id="cmpffdd2a61dfed498ebfe10f838956fb27"/>
					<ComponentRef Id="cmpc160da739ce24b4292112015e5a91961"/>
					<ComponentRef Id="cmpb670b5ce923e40fd8df43681fee04071"/>
					<ComponentRef Id="cmp86851fd006c4451699e37d7ef827e617"/>
				</ComponentGroup>

	</Fragment>
</Wix>

