<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:wix="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
						
						<Directory Id="dirfe0256828b7c458f928bac146b5d7568" Name="App_Data">
						
												
			<Component Id="cmp8e74f32e821542e6839c3655264e1d9d" Guid="{8e74f32e-8215-42e6-839c-3655264e1d9d}">
				<File Id="file8e74f32e821542e6839c3655264e1d9d" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\App_Data\examplequeryresult.json"/>
			</Component>
	
												
			<Component Id="cmpeedfbad0b75746358d4afb9b33e08995" Guid="{eedfbad0-b757-4635-8d4a-fb9b33e08995}">
				<File Id="fileeedfbad0b75746358d4afb9b33e08995" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\App_Data\filteredjsonexample.json"/>
			</Component>
	
			
			</Directory>
						<Directory Id="dir814e54d36a774a08b2297ba62726852f" Name="bin">
						
						<Directory Id="dira1fa69e5a5a24754a8f13f199ca98116" Name="App_Data">
						
												
			<Component Id="cmp7cbc2a0346c64634af41e6e6e887ed02" Guid="{7cbc2a03-46c6-4634-af41-e6e6e887ed02}">
				<File Id="file7cbc2a0346c64634af41e6e6e887ed02" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\App_Data\examplequeryresult.json"/>
			</Component>
	
												
			<Component Id="cmpd6058a1ed69344ce814a8326f4c36f1f" Guid="{d6058a1e-d693-44ce-814a-8326f4c36f1f}">
				<File Id="filed6058a1ed69344ce814a8326f4c36f1f" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\App_Data\filteredjsonexample.json"/>
			</Component>
	
			
			</Directory>
						<Directory Id="dirdbf637a44b6d4b4da3ff30f8923ad764" Name="Debug">
						
			
			</Directory>
												
			<Component Id="cmpacc5a221e50742b0b16ddecd7b49f7af" Guid="{acc5a221-e507-42b0-b16d-decd7b49f7af}">
				<File Id="fileacc5a221e50742b0b16ddecd7b49f7af" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Antlr3.Runtime.dll"/>
			</Component>
	
												
			<Component Id="cmp07edfd881f5d45bfb89481f2dd1c6bf0" Guid="{07edfd88-1f5d-45bf-b894-81f2dd1c6bf0}">
				<File Id="file07edfd881f5d45bfb89481f2dd1c6bf0" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Antlr3.Runtime.pdb"/>
			</Component>
	
												
			<Component Id="cmpa4a90c6550164551bdd33c19f11e50c1" Guid="{a4a90c65-5016-4551-bdd3-3c19f11e50c1}">
				<File Id="filea4a90c6550164551bdd33c19f11e50c1" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Id3.dll"/>
			</Component>
	
												
			<Component Id="cmpc11a2aa659264a168c122c6a781c642b" Guid="{c11a2aa6-5926-4a16-8c12-2c6a781c642b}">
				<File Id="filec11a2aa659264a168c122c6a781c642b" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\log4net.dll"/>
			</Component>
	
												
			<Component Id="cmpf87c66cac51b461abb837d1184c023b3" Guid="{f87c66ca-c51b-461a-bb83-7d1184c023b3}">
				<File Id="filef87c66cac51b461abb837d1184c023b3" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\log4net.xml"/>
			</Component>
	
												
			<Component Id="cmpa7ca3f05f7024f269004a7566fab7b3b" Guid="{a7ca3f05-f702-4f26-9004-a7566fab7b3b}">
				<File Id="filea7ca3f05f7024f269004a7566fab7b3b" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Microsoft.AspNet.SignalR.Core.dll"/>
			</Component>
	
												
			<Component Id="cmp17c2eeae7add4c46b3847d8892d25c52" Guid="{17c2eeae-7add-4c46-b384-7d8892d25c52}">
				<File Id="file17c2eeae7add4c46b3847d8892d25c52" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Microsoft.AspNet.SignalR.Core.xml"/>
			</Component>
	
												
			<Component Id="cmp3c523e8e7dd64f2faa9fa07094b0c5e2" Guid="{3c523e8e-7dd6-4f2f-aa9f-a07094b0c5e2}">
				<File Id="file3c523e8e7dd64f2faa9fa07094b0c5e2" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Microsoft.AspNet.SignalR.SystemWeb.dll"/>
			</Component>
	
												
			<Component Id="cmp683ae73809e04cfbb93bc93918c3edd7" Guid="{683ae738-09e0-4cfb-b93b-c93918c3edd7}">
				<File Id="file683ae73809e04cfbb93bc93918c3edd7" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Microsoft.AspNet.SignalR.SystemWeb.xml"/>
			</Component>
	
												
			<Component Id="cmp6254816102524b6e93c2eba6e766272a" Guid="{62548161-0252-4b6e-93c2-eba6e766272a}">
				<File Id="file6254816102524b6e93c2eba6e766272a" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Microsoft.Owin.dll"/>
			</Component>
	
												
			<Component Id="cmp6b72e4960aeb475aad19b1e83c4a122d" Guid="{6b72e496-0aeb-475a-ad19-b1e83c4a122d}">
				<File Id="file6b72e4960aeb475aad19b1e83c4a122d" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Microsoft.Owin.Host.SystemWeb.dll"/>
			</Component>
	
												
			<Component Id="cmp82be233a79f5420ea3635bf027d65c06" Guid="{82be233a-79f5-420e-a363-5bf027d65c06}">
				<File Id="file82be233a79f5420ea3635bf027d65c06" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Microsoft.Owin.Host.SystemWeb.xml"/>
			</Component>
	
												
			<Component Id="cmp961392432dea4e14b6527c14e21c48bc" Guid="{96139243-2dea-4e14-b652-7c14e21c48bc}">
				<File Id="file961392432dea4e14b6527c14e21c48bc" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Microsoft.Owin.Security.dll"/>
			</Component>
	
												
			<Component Id="cmp89d15ba7304042f69650a9fbb8bbea3e" Guid="{89d15ba7-3040-42f6-9650-a9fbb8bbea3e}">
				<File Id="file89d15ba7304042f69650a9fbb8bbea3e" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Microsoft.Owin.Security.xml"/>
			</Component>
	
												
			<Component Id="cmpb4baf8419a184b47ac20e352a5f11b13" Guid="{b4baf841-9a18-4b47-ac20-e352a5f11b13}">
				<File Id="fileb4baf8419a184b47ac20e352a5f11b13" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Microsoft.Owin.xml"/>
			</Component>
	
												
			<Component Id="cmpe5adff4307bb4951a41ae68ee7705a93" Guid="{e5adff43-07bb-4951-a41a-e68ee7705a93}">
				<File Id="filee5adff4307bb4951a41ae68ee7705a93" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Microsoft.Web.Infrastructure.dll"/>
			</Component>
	
												
			<Component Id="cmp212374409ce14c83b2e41e7ef025476f" Guid="{21237440-9ce1-4c83-b2e4-1e7ef025476f}">
				<File Id="file212374409ce14c83b2e41e7ef025476f" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Newtonsoft.Json.dll"/>
			</Component>
	
												
			<Component Id="cmp91dd17876ba545a4a0976471a4dd52bb" Guid="{91dd1787-6ba5-45a4-a097-6471a4dd52bb}">
				<File Id="file91dd17876ba545a4a0976471a4dd52bb" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Newtonsoft.Json.xml"/>
			</Component>
	
												
			<Component Id="cmp5d25a5b760b44624ae74668f478db034" Guid="{5d25a5b7-60b4-4624-ae74-668f478db034}">
				<File Id="file5d25a5b760b44624ae74668f478db034" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Owin.dll"/>
			</Component>
	
												
			<Component Id="cmp2f58987da7c84178a2c2fa82748f82c0" Guid="{2f58987d-a7c8-4178-a2c2-fa82748f82c0}">
				<File Id="file2f58987da7c84178a2c2fa82748f82c0" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Sciendo.Common.dll"/>
			</Component>
	
												
			<Component Id="cmpc2a2b7f7e93c439da6dd0e62de3b8cba" Guid="{c2a2b7f7-e93c-439d-a6dd-0e62de3b8cba}">
				<File Id="filec2a2b7f7e93c439da6dd0e62de3b8cba" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Sciendo.IOC.Configuration.dll"/>
			</Component>
	
												
			<Component Id="cmp4c27e99c5a3a42b8b304f3e1535532ce" Guid="{4c27e99c-5a3a-42b8-b304-f3e1535532ce}">
				<File Id="file4c27e99c5a3a42b8b304f3e1535532ce" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Sciendo.IOC.dll"/>
			</Component>
	
												
			<Component Id="cmp75bdf0eace104d71b26631b936c9e7d3" Guid="{75bdf0ea-ce10-4d71-b266-31b936c9e7d3}">
				<File Id="file75bdf0eace104d71b26631b936c9e7d3" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Sciendo.Music.DataProviders.dll"/>
			</Component>
	
												
			<Component Id="cmp8601ceb2334f497e8948544d1a986fa6" Guid="{8601ceb2-334f-497e-8948-544d1a986fa6}">
				<File Id="file8601ceb2334f497e8948544d1a986fa6" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Sciendo.Music.DataProviders.Mocks.dll"/>
			</Component>
	
												
			<Component Id="cmp981be39a5cfa48189ab4805cf461839f" Guid="{981be39a-5cfa-4818-9ab4-805cf461839f}">
				<File Id="file981be39a5cfa48189ab4805cf461839f" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Sciendo.Music.DataProviders.Mocks.pdb"/>
			</Component>
	
												
			<Component Id="cmpd3d2ffab2cc7444fbd1c4f89dc56105a" Guid="{d3d2ffab-2cc7-444f-bd1c-4f89dc56105a}">
				<File Id="filed3d2ffab2cc7444fbd1c4f89dc56105a" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Sciendo.Music.DataProviders.pdb"/>
			</Component>
	
												
			<Component Id="cmpaf827f68c44140bc948fb627aa6e58f7" Guid="{af827f68-c441-40bc-948f-b627aa6e58f7}">
				<File Id="fileaf827f68c44140bc948fb627aa6e58f7" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Sciendo.Music.Web.dll"/>
			</Component>
	
												
			<Component Id="cmp3f4275a867824cc8b05e015fd784f79b" Guid="{3f4275a8-6782-4cc8-b05e-015fd784f79b}">
				<File Id="file3f4275a867824cc8b05e015fd784f79b" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\Sciendo.Music.Web.pdb"/>
			</Component>
	
												
			<Component Id="cmpb4028cf1e48344579481f015aea9d0c3" Guid="{b4028cf1-e483-4457-9481-f015aea9d0c3}">
				<File Id="fileb4028cf1e48344579481f015aea9d0c3" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Net.Http.Formatting.dll"/>
			</Component>
	
												
			<Component Id="cmp5d84dc5b2b39440dad7c941177a1f112" Guid="{5d84dc5b-2b39-440d-ad7c-941177a1f112}">
				<File Id="file5d84dc5b2b39440dad7c941177a1f112" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Web.Helpers.dll"/>
			</Component>
	
												
			<Component Id="cmp9429e419fd7740fab51ca1da20f5e33e" Guid="{9429e419-fd77-40fa-b51c-a1da20f5e33e}">
				<File Id="file9429e419fd7740fab51ca1da20f5e33e" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Web.Helpers.xml"/>
			</Component>
	
												
			<Component Id="cmp670609dc202e4942bc122928de8c4c94" Guid="{670609dc-202e-4942-bc12-2928de8c4c94}">
				<File Id="file670609dc202e4942bc122928de8c4c94" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Web.Mvc.dll"/>
			</Component>
	
												
			<Component Id="cmp14e178ff73a64f4794b5c71a30d00af0" Guid="{14e178ff-73a6-4f47-94b5-c71a30d00af0}">
				<File Id="file14e178ff73a64f4794b5c71a30d00af0" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Web.Mvc.xml"/>
			</Component>
	
												
			<Component Id="cmp123c534e5dc542cc97229601b9d796e8" Guid="{123c534e-5dc5-42cc-9722-9601b9d796e8}">
				<File Id="file123c534e5dc542cc97229601b9d796e8" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Web.Optimization.dll"/>
			</Component>
	
												
			<Component Id="cmp8b954ca8b5274462afdd943c7dcc7aa7" Guid="{8b954ca8-b527-4462-afdd-943c7dcc7aa7}">
				<File Id="file8b954ca8b5274462afdd943c7dcc7aa7" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Web.Optimization.xml"/>
			</Component>
	
												
			<Component Id="cmp5624421a1a724251861b096daa2c35af" Guid="{5624421a-1a72-4251-861b-096daa2c35af}">
				<File Id="file5624421a1a724251861b096daa2c35af" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Web.Razor.dll"/>
			</Component>
	
												
			<Component Id="cmp9327b2537d9e42b1a5f0f9361e1f8724" Guid="{9327b253-7d9e-42b1-a5f0-f9361e1f8724}">
				<File Id="file9327b2537d9e42b1a5f0f9361e1f8724" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Web.Razor.xml"/>
			</Component>
	
												
			<Component Id="cmpd49a8bcc5be24d96ba3f48587958d0c4" Guid="{d49a8bcc-5be2-4d96-ba3f-48587958d0c4}">
				<File Id="filed49a8bcc5be24d96ba3f48587958d0c4" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Web.WebPages.Deployment.dll"/>
			</Component>
	
												
			<Component Id="cmpfce1154bfaa446c29d28867ea9a8f2c8" Guid="{fce1154b-faa4-46c2-9d28-867ea9a8f2c8}">
				<File Id="filefce1154bfaa446c29d28867ea9a8f2c8" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Web.WebPages.Deployment.xml"/>
			</Component>
	
												
			<Component Id="cmpf3c36b7418e547a8a15adde2e83c969f" Guid="{f3c36b74-18e5-47a8-a15a-dde2e83c969f}">
				<File Id="filef3c36b7418e547a8a15adde2e83c969f" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Web.WebPages.dll"/>
			</Component>
	
												
			<Component Id="cmpf322cdc3ea314e8fa781b8a17ede4593" Guid="{f322cdc3-ea31-4e8f-a781-b8a17ede4593}">
				<File Id="filef322cdc3ea314e8fa781b8a17ede4593" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Web.WebPages.Razor.dll"/>
			</Component>
	
												
			<Component Id="cmp7b4f2b952bbf42fbaa351d20bc0b7e7d" Guid="{7b4f2b95-2bbf-42fb-aa35-1d20bc0b7e7d}">
				<File Id="file7b4f2b952bbf42fbaa351d20bc0b7e7d" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Web.WebPages.Razor.xml"/>
			</Component>
	
												
			<Component Id="cmpbfaf8d143ac54161ab5cf768cedc042e" Guid="{bfaf8d14-3ac5-4161-ab5c-f768cedc042e}">
				<File Id="filebfaf8d143ac54161ab5cf768cedc042e" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\System.Web.WebPages.xml"/>
			</Component>
	
												
			<Component Id="cmpeadb79677a8649548ad85eb8b8fbbe25" Guid="{eadb7967-7a86-4954-8ad8-5eb8b8fbbe25}">
				<File Id="fileeadb79677a8649548ad85eb8b8fbbe25" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\bin\WebGrease.dll"/>
			</Component>
	
			
			</Directory>
						<Directory Id="dir607a4c839ab74a41bc9cf8d16f1056f4" Name="Content">
						
						<Directory Id="dir486e30e9bc13438c8236d964d5e54e9f" Name="indexing">
						
						<Directory Id="dirba7932958abc4cd587c99391e740bfd6" Name="images">
						
												
			<Component Id="cmp974dd56e28c44ce7b63c58243017ac48" Guid="{974dd56e-28c4-4ce7-b63c-58243017ac48}">
				<File Id="file974dd56e28c44ce7b63c58243017ac48" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\accent.png"/>
			</Component>
	
												
			<Component Id="cmp6be64378e2ea4265b4e620e808fb5a2f" Guid="{6be64378-e2ea-4265-b4e6-20e808fb5a2f}">
				<File Id="file6be64378e2ea4265b4e620e808fb5a2f" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\bullet.png"/>
			</Component>
	
												
			<Component Id="cmpa0e9fc63dd2248abb8ac095787081871" Guid="{a0e9fc63-dd22-48ab-b8ac-095787081871}">
				<File Id="filea0e9fc63dd2248abb8ac095787081871" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\Done.png"/>
			</Component>
	
												
			<Component Id="cmp22172def312343c8a25f15b5bb6a736d" Guid="{22172def-3123-43c8-a25f-15b5bb6a736d}">
				<File Id="file22172def312343c8a25f15b5bb6a736d" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\Error.png"/>
			</Component>
	
												
			<Component Id="cmp5bb1e30134fa4e95b3a74c8db2d79530" Guid="{5bb1e301-34fa-4e95-b3a7-4c8db2d79530}">
				<File Id="file5bb1e30134fa4e95b3a74c8db2d79530" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\heroAccent.png"/>
			</Component>
	
												
			<Component Id="cmp49616fa858eb4b4a9a79640b4a8b9744" Guid="{49616fa8-58eb-4b4a-9a79-640b4a8b9744}">
				<File Id="file49616fa858eb4b4a9a79640b4a8b9744" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\orderedList0.png"/>
			</Component>
	
												
			<Component Id="cmp2e8b500edc3943b0a868a482e9f7be8e" Guid="{2e8b500e-dc39-43b0-a868-a482e9f7be8e}">
				<File Id="file2e8b500edc3943b0a868a482e9f7be8e" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\orderedList1.png"/>
			</Component>
	
												
			<Component Id="cmpdf012928128d4679a2817758a01ba650" Guid="{df012928-128d-4679-a281-7758a01ba650}">
				<File Id="filedf012928128d4679a2817758a01ba650" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\orderedList2.png"/>
			</Component>
	
												
			<Component Id="cmpdc6c13c38f6c491ba605f6346f3cffb7" Guid="{dc6c13c3-8f6c-491b-a605-f6346f3cffb7}">
				<File Id="filedc6c13c38f6c491ba605f6346f3cffb7" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\orderedList3.png"/>
			</Component>
	
												
			<Component Id="cmp328fa2b4c4ac433bafe8f11a730c4be5" Guid="{328fa2b4-c4ac-433b-afe8-f11a730c4be5}">
				<File Id="file328fa2b4c4ac433bafe8f11a730c4be5" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\orderedList4.png"/>
			</Component>
	
												
			<Component Id="cmp479be98a0e2e4874a7bd0ecb4f3e9361" Guid="{479be98a-0e2e-4874-a7bd-0ecb4f3e9361}">
				<File Id="file479be98a0e2e4874a7bd0ecb4f3e9361" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\orderedList5.png"/>
			</Component>
	
												
			<Component Id="cmp085ecde662624a9e8d23f30af8c5dcd7" Guid="{085ecde6-6262-4a9e-8d23-f30af8c5dcd7}">
				<File Id="file085ecde662624a9e8d23f30af8c5dcd7" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\orderedList6.png"/>
			</Component>
	
												
			<Component Id="cmpe25ba55433a94b0c852dc22c0409bfff" Guid="{e25ba554-33a9-4b0c-852d-c22c0409bfff}">
				<File Id="filee25ba55433a94b0c852dc22c0409bfff" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\orderedList7.png"/>
			</Component>
	
												
			<Component Id="cmp6c7ac08bf01e471395a6fac4d503bff7" Guid="{6c7ac08b-f01e-4713-95a6-fac4d503bff7}">
				<File Id="file6c7ac08bf01e471395a6fac4d503bff7" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\orderedList8.png"/>
			</Component>
	
												
			<Component Id="cmpf5d313917bf54367aeed13529b96385c" Guid="{f5d31391-7bf5-4367-aeed-13529b96385c}">
				<File Id="filef5d313917bf54367aeed13529b96385c" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\orderedList9.png"/>
			</Component>
	
												
			<Component Id="cmp4f00fc907fda4799997fdc20c93eb9b7" Guid="{4f00fc90-7fda-4799-997f-dc20c93eb9b7}">
				<File Id="file4f00fc907fda4799997fdc20c93eb9b7" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\images\playlist_add.png"/>
			</Component>
	
			
			</Directory>
												
			<Component Id="cmpd8b0f584751c47af82a53ca035205120" Guid="{d8b0f584-751c-47af-82a5-3ca035205120}">
				<File Id="filed8b0f584751c47af82a53ca035205120" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\indexing\specific.css"/>
			</Component>
	
			
			</Directory>
						<Directory Id="dir1bf8b8da961c4d559312a3ef95c74b3f" Name="themes">
						
						<Directory Id="dirfccfd2b269204a018cf9ce690b7ad806" Name="base">
						
						<Directory Id="dir4a841e94627a4645b46dd48a1196d093" Name="images">
						
			
			</Directory>
												
			<Component Id="cmp30100927fdc14e95b3c5fff3526e7da5" Guid="{30100927-fdc1-4e95-b3c5-fff3526e7da5}">
				<File Id="file30100927fdc14e95b3c5fff3526e7da5" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\accordion.css"/>
			</Component>
	
												
			<Component Id="cmp3646eba273214d0bb1450b2c7dc78176" Guid="{3646eba2-7321-4d0b-b145-0b2c7dc78176}">
				<File Id="file3646eba273214d0bb1450b2c7dc78176" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\all.css"/>
			</Component>
	
												
			<Component Id="cmp110c3563bb3644d2a1cb0ee1cb7cace2" Guid="{110c3563-bb36-44d2-a1cb-0ee1cb7cace2}">
				<File Id="file110c3563bb3644d2a1cb0ee1cb7cace2" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\autocomplete.css"/>
			</Component>
	
												
			<Component Id="cmp95cd5b53cadd4cfa9d468eef1651ebdd" Guid="{95cd5b53-cadd-4cfa-9d46-8eef1651ebdd}">
				<File Id="file95cd5b53cadd4cfa9d468eef1651ebdd" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\base.css"/>
			</Component>
	
												
			<Component Id="cmpa45d819f020d40419603930df59f340a" Guid="{a45d819f-020d-4041-9603-930df59f340a}">
				<File Id="filea45d819f020d40419603930df59f340a" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\button.css"/>
			</Component>
	
												
			<Component Id="cmpe6c0c9532e8346d185d5195822cff540" Guid="{e6c0c953-2e83-46d1-85d5-195822cff540}">
				<File Id="filee6c0c9532e8346d185d5195822cff540" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\core.css"/>
			</Component>
	
												
			<Component Id="cmp24e630baae1a4e58a6693fccccba23c9" Guid="{24e630ba-ae1a-4e58-a669-3fccccba23c9}">
				<File Id="file24e630baae1a4e58a6693fccccba23c9" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\datepicker.css"/>
			</Component>
	
												
			<Component Id="cmp3c9f369f58d24a23a2e2d2f4897336c0" Guid="{3c9f369f-58d2-4a23-a2e2-d2f4897336c0}">
				<File Id="file3c9f369f58d24a23a2e2d2f4897336c0" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\dialog.css"/>
			</Component>
	
												
			<Component Id="cmp2c05033c0e764486afd03316a833cfdc" Guid="{2c05033c-0e76-4486-afd0-3316a833cfdc}">
				<File Id="file2c05033c0e764486afd03316a833cfdc" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\draggable.css"/>
			</Component>
	
												
			<Component Id="cmpf97dc5ee676f4a5caab36860306f6f90" Guid="{f97dc5ee-676f-4a5c-aab3-6860306f6f90}">
				<File Id="filef97dc5ee676f4a5caab36860306f6f90" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\menu.css"/>
			</Component>
	
												
			<Component Id="cmp5e068bfebc4f4038a4cc0d35314c0c8e" Guid="{5e068bfe-bc4f-4038-a4cc-0d35314c0c8e}">
				<File Id="file5e068bfebc4f4038a4cc0d35314c0c8e" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\progressbar.css"/>
			</Component>
	
												
			<Component Id="cmp027c6de2a06c44a19d9183f7ab82cdf4" Guid="{027c6de2-a06c-44a1-9d91-83f7ab82cdf4}">
				<File Id="file027c6de2a06c44a19d9183f7ab82cdf4" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\resizable.css"/>
			</Component>
	
												
			<Component Id="cmp8925d27017e84aecb696b9f41be66ea3" Guid="{8925d270-17e8-4aec-b696-b9f41be66ea3}">
				<File Id="file8925d27017e84aecb696b9f41be66ea3" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\selectable.css"/>
			</Component>
	
												
			<Component Id="cmpd68caf63fc5b4169b5c5d8855e1a9ec5" Guid="{d68caf63-fc5b-4169-b5c5-d8855e1a9ec5}">
				<File Id="filed68caf63fc5b4169b5c5d8855e1a9ec5" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\selectmenu.css"/>
			</Component>
	
												
			<Component Id="cmpa27ddd939e644699987e30fd4106be36" Guid="{a27ddd93-9e64-4699-987e-30fd4106be36}">
				<File Id="filea27ddd939e644699987e30fd4106be36" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\slider.css"/>
			</Component>
	
												
			<Component Id="cmp63848e757c43460081a5dd86205ba8d0" Guid="{63848e75-7c43-4600-81a5-dd86205ba8d0}">
				<File Id="file63848e757c43460081a5dd86205ba8d0" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\sortable.css"/>
			</Component>
	
												
			<Component Id="cmp0df2949ff7914530be1122f59509a644" Guid="{0df2949f-f791-4530-be11-22f59509a644}">
				<File Id="file0df2949ff7914530be1122f59509a644" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\spinner.css"/>
			</Component>
	
												
			<Component Id="cmp52be5eea636a48b8848c10ec29127b11" Guid="{52be5eea-636a-48b8-848c-10ec29127b11}">
				<File Id="file52be5eea636a48b8848c10ec29127b11" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\tabs.css"/>
			</Component>
	
												
			<Component Id="cmpee2a8cf6950347d5bbb122a7b868c2d7" Guid="{ee2a8cf6-9503-47d5-bbb1-22a7b868c2d7}">
				<File Id="fileee2a8cf6950347d5bbb122a7b868c2d7" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\theme.css"/>
			</Component>
	
												
			<Component Id="cmpe81302398c454d09af4ae879ebace9a5" Guid="{e8130239-8c45-4d09-af4a-e879ebace9a5}">
				<File Id="filee81302398c454d09af4ae879ebace9a5" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\themes\base\tooltip.css"/>
			</Component>
	
			
			</Directory>
			
			</Directory>
												
			<Component Id="cmpdd00cefa2055474a94f97586386d1da7" Guid="{dd00cefa-2055-474a-94f9-7586386d1da7}">
				<File Id="filedd00cefa2055474a94f97586386d1da7" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\bootstrap.css"/>
			</Component>
	
												
			<Component Id="cmp036f62ad43944ed89b5ecdefa11d6062" Guid="{036f62ad-4394-4ed8-9b5e-cdefa11d6062}">
				<File Id="file036f62ad43944ed89b5ecdefa11d6062" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\bootstrap.min.css"/>
			</Component>
	
												
			<Component Id="cmp5b1d97697250495288124fb5df709e1d" Guid="{5b1d9769-7250-4952-8812-4fb5df709e1d}">
				<File Id="file5b1d97697250495288124fb5df709e1d" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\ko.binding.style.css"/>
			</Component>
	
												
			<Component Id="cmp990c3375a05d42809cee18a4a966cee8" Guid="{990c3375-a05d-4280-9cee-18a4a966cee8}">
				<File Id="file990c3375a05d42809cee18a4a966cee8" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Content\Site.css"/>
			</Component>
	
			
			</Directory>
						<Directory Id="dirb26f040788d24a64a7e9509ec6edbdfd" Name="fonts">
						
												
			<Component Id="cmpca224f707c1c40d28ae522b4f06ce3fe" Guid="{ca224f70-7c1c-40d2-8ae5-22b4f06ce3fe}">
				<File Id="fileca224f707c1c40d28ae522b4f06ce3fe" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\fonts\glyphicons-halflings-regular.eot"/>
			</Component>
	
												
			<Component Id="cmp8e75b406d66345adbe726636202f4371" Guid="{8e75b406-d663-45ad-be72-6636202f4371}">
				<File Id="file8e75b406d66345adbe726636202f4371" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\fonts\glyphicons-halflings-regular.svg"/>
			</Component>
	
												
			<Component Id="cmp9c1cf7313e0b4b3eaa1f83cd633b3892" Guid="{9c1cf731-3e0b-4b3e-aa1f-83cd633b3892}">
				<File Id="file9c1cf7313e0b4b3eaa1f83cd633b3892" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\fonts\glyphicons-halflings-regular.ttf"/>
			</Component>
	
												
			<Component Id="cmp1280e7d7a40440748897bdcfac8760e3" Guid="{1280e7d7-a404-4074-8897-bdcfac8760e3}">
				<File Id="file1280e7d7a40440748897bdcfac8760e3" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\fonts\glyphicons-halflings-regular.woff"/>
			</Component>
	
			
			</Directory>
						<Directory Id="dir6246c443cdf243578262f67380556ac8" Name="Scripts">
						
						<Directory Id="dir24be533b3d254fa2ada22d7c94d812f3" Name="sciendo.music">
						
												
			<Component Id="cmpd55b5bd34bbe4c688d7147fea600470e" Guid="{d55b5bd3-4bbe-4c68-8d71-47fea600470e}">
				<File Id="filed55b5bd34bbe4c688d7147fea600470e" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\sciendo.music\index.autocomplete.js"/>
			</Component>
	
												
			<Component Id="cmp8b1172c5ccb74bfcb75481422f0af927" Guid="{8b1172c5-ccb7-4bfc-b754-81422f0af927}">
				<File Id="file8b1172c5ccb74bfcb75481422f0af927" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\sciendo.music\index.viewmodel.js"/>
			</Component>
	
												
			<Component Id="cmp94b51d517ae547ffa5103a56160d9876" Guid="{94b51d51-7ae5-47ff-a510-3a56160d9876}">
				<File Id="file94b51d517ae547ffa5103a56160d9876" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\sciendo.music\knockout.simpleGrid.1.3.js"/>
			</Component>
	
												
			<Component Id="cmp3971755ea5b248d39301effdaec8db40" Guid="{3971755e-a5b2-48d3-9301-effdaec8db40}">
				<File Id="file3971755ea5b248d39301effdaec8db40" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\sciendo.music\query.datacontext.js"/>
			</Component>
	
												
			<Component Id="cmp0623759b1e38417d8c8e369aefbd6c63" Guid="{0623759b-1e38-417d-8c8e-369aefbd6c63}">
				<File Id="file0623759b1e38417d8c8e369aefbd6c63" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\sciendo.music\query.viewmodel.js"/>
			</Component>
	
			
			</Directory>
												
			<Component Id="cmpef9b318e1ae1406b984c0d771cd3fcb6" Guid="{ef9b318e-1ae1-406b-984c-0d771cd3fcb6}">
				<File Id="fileef9b318e1ae1406b984c0d771cd3fcb6" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\bootstrap.js"/>
			</Component>
	
												
			<Component Id="cmp7b8033a5fa8f40479b6c98d9f7d4fe64" Guid="{7b8033a5-fa8f-4047-9b6c-98d9f7d4fe64}">
				<File Id="file7b8033a5fa8f40479b6c98d9f7d4fe64" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\bootstrap.min.js"/>
			</Component>
	
												
			<Component Id="cmpb8291cb075e54144960aa9b8ad0b3a90" Guid="{b8291cb0-75e5-4144-960a-a9b8ad0b3a90}">
				<File Id="fileb8291cb075e54144960aa9b8ad0b3a90" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\jquery-1.10.2.intellisense.js"/>
			</Component>
	
												
			<Component Id="cmpe2a23f1f1e4a4224a9e5742417019b30" Guid="{e2a23f1f-1e4a-4224-a9e5-742417019b30}">
				<File Id="filee2a23f1f1e4a4224a9e5742417019b30" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\jquery-1.10.2.js"/>
			</Component>
	
												
			<Component Id="cmp5581998a25d84adaa83e48c7b416d754" Guid="{5581998a-25d8-4ada-a83e-48c7b416d754}">
				<File Id="file5581998a25d84adaa83e48c7b416d754" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\jquery-1.10.2.min.js"/>
			</Component>
	
												
			<Component Id="cmp0dbd23acd49c46778431e7bc63ab916b" Guid="{0dbd23ac-d49c-4677-8431-e7bc63ab916b}">
				<File Id="file0dbd23acd49c46778431e7bc63ab916b" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\jquery-1.10.2.min.map"/>
			</Component>
	
												
			<Component Id="cmp7d25e9d69ea242b590483d1f82b44110" Guid="{7d25e9d6-9ea2-42b5-9048-3d1f82b44110}">
				<File Id="file7d25e9d69ea242b590483d1f82b44110" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\jquery-ui-1.11.3.js"/>
			</Component>
	
												
			<Component Id="cmp468cd430801c4e768817e19b3e7122a5" Guid="{468cd430-801c-4e76-8817-e19b3e7122a5}">
				<File Id="file468cd430801c4e768817e19b3e7122a5" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\jquery-ui-1.11.3.min.js"/>
			</Component>
	
												
			<Component Id="cmp85528587c9f84939ba70e505f587230d" Guid="{85528587-c9f8-4939-ba70-e505f587230d}">
				<File Id="file85528587c9f84939ba70e505f587230d" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\jquery.signalR-2.2.0.js"/>
			</Component>
	
												
			<Component Id="cmp2de7404b4d914f2ea28191fe69453d66" Guid="{2de7404b-4d91-4f2e-a281-91fe69453d66}">
				<File Id="file2de7404b4d914f2ea28191fe69453d66" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\jquery.signalR-2.2.0.min.js"/>
			</Component>
	
												
			<Component Id="cmp3896df129f494d5692ee74da52f34f68" Guid="{3896df12-9f49-4d56-92ee-74da52f34f68}">
				<File Id="file3896df129f494d5692ee74da52f34f68" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\jquery.validate-vsdoc.js"/>
			</Component>
	
												
			<Component Id="cmp24a96d2c3c2e40c796f06a2f6f50506f" Guid="{24a96d2c-3c2e-40c7-96f0-6a2f6f50506f}">
				<File Id="file24a96d2c3c2e40c796f06a2f6f50506f" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\jquery.validate.js"/>
			</Component>
	
												
			<Component Id="cmp4f15570fb6e749af85ad86b6cf1dbc4c" Guid="{4f15570f-b6e7-49af-85ad-86b6cf1dbc4c}">
				<File Id="file4f15570fb6e749af85ad86b6cf1dbc4c" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\jquery.validate.min.js"/>
			</Component>
	
												
			<Component Id="cmpd6cc5bdabae4464b9f9d035048691111" Guid="{d6cc5bda-bae4-464b-9f9d-035048691111}">
				<File Id="filed6cc5bdabae4464b9f9d035048691111" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\jquery.validate.unobtrusive.js"/>
			</Component>
	
												
			<Component Id="cmp1b88bf66793349f286ccbbf8a67ecaec" Guid="{1b88bf66-7933-49f2-86cc-bbf8a67ecaec}">
				<File Id="file1b88bf66793349f286ccbbf8a67ecaec" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\jquery.validate.unobtrusive.min.js"/>
			</Component>
	
												
			<Component Id="cmp4a6b50099c7e40c2a0c21b2217c8bc05" Guid="{4a6b5009-9c7e-40c2-a0c2-1b2217c8bc05}">
				<File Id="file4a6b50099c7e40c2a0c21b2217c8bc05" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\knockout-3.2.0.debug.js"/>
			</Component>
	
												
			<Component Id="cmp51a0d06c98f94e4ba1ee7cb6b570ce6e" Guid="{51a0d06c-98f9-4e4b-a1ee-7cb6b570ce6e}">
				<File Id="file51a0d06c98f94e4ba1ee7cb6b570ce6e" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\knockout-3.2.0.js"/>
			</Component>
	
												
			<Component Id="cmp6836401e5df14c5a93e937db0e9eaf59" Guid="{6836401e-5df1-4c5a-93e9-37db0e9eaf59}">
				<File Id="file6836401e5df14c5a93e937db0e9eaf59" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\ko.autocomplete.js"/>
			</Component>
	
												
			<Component Id="cmp4876c574f8344c1d93a78292df05f7c3" Guid="{4876c574-f834-4c1d-93a7-8292df05f7c3}">
				<File Id="file4876c574f8344c1d93a78292df05f7c3" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\modernizr-2.6.2.js"/>
			</Component>
	
												
			<Component Id="cmpc12fa42fe2f14a1aba71167000461c98" Guid="{c12fa42f-e2f1-4a1a-ba71-167000461c98}">
				<File Id="filec12fa42fe2f14a1aba71167000461c98" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\respond.js"/>
			</Component>
	
												
			<Component Id="cmpaed3e3ba1a474834ae5ed7668ea74e23" Guid="{aed3e3ba-1a47-4834-ae5e-d7668ea74e23}">
				<File Id="fileaed3e3ba1a474834ae5ed7668ea74e23" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\respond.min.js"/>
			</Component>
	
												
			<Component Id="cmp9f157226ebf1486ca3adf604b4098dfa" Guid="{9f157226-ebf1-486c-a3ad-f604b4098dfa}">
				<File Id="file9f157226ebf1486ca3adf604b4098dfa" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Scripts\_references.js"/>
			</Component>
	
			
			</Directory>
						<Directory Id="direcba089c83c248bb96f4f19c33e68c48" Name="Views">
						<Component Id="cmpviewswebconfig" Guid="{47321547-AC70-4541-AD1F-AA8C6E7BBF8E}">
				<File Id="fileviewswebconfig" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Views\web.config"/>
			</Component>

						
						<Directory Id="dir1f1d6a8618fc408a8c6eb7236e8d76be" Name="Home">
						
												
			<Component Id="cmpf19bb27c9bae4871b8a7775a9c697b67" Guid="{f19bb27c-9bae-4871-b8a7-775a9c697b67}">
				<File Id="filef19bb27c9bae4871b8a7775a9c697b67" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Views\Home\About.cshtml"/>
			</Component>
	
												
			<Component Id="cmp05b79be36aef4958aca7963fe12beb4d" Guid="{05b79be3-6aef-4958-aca7-963fe12beb4d}">
				<File Id="file05b79be36aef4958aca7963fe12beb4d" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Views\Home\Contact.cshtml"/>
			</Component>
	
												
			<Component Id="cmp0188b25f2e85458fa392f81cba2d6776" Guid="{0188b25f-2e85-458f-a392-f81cba2d6776}">
				<File Id="file0188b25f2e85458fa392f81cba2d6776" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Views\Home\Index.cshtml"/>
			</Component>
	
			
			</Directory>
						<Directory Id="dirff0fb9d539934ab29e1417f1e7a7ae57" Name="Query">
						
												
			<Component Id="cmp37fd383fb49443a1aa3e719f570939b5" Guid="{37fd383f-b494-43a1-aa3e-719f570939b5}">
				<File Id="file37fd383fb49443a1aa3e719f570939b5" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Views\Query\Index.cshtml"/>
			</Component>
	
			
			</Directory>
						<Directory Id="dir26bbdb258ba640cbbf1e54bbc6eab738" Name="Shared">
						
												
			<Component Id="cmp76a1dab798434883bfa444cac5f2f1a3" Guid="{76a1dab7-9843-4883-bfa4-44cac5f2f1a3}">
				<File Id="file76a1dab798434883bfa444cac5f2f1a3" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Views\Shared\Error.cshtml"/>
			</Component>
	
												
			<Component Id="cmpc88065c258ab4e77b669c0c8ca419431" Guid="{c88065c2-58ab-4e77-b669-c0c8ca419431}">
				<File Id="filec88065c258ab4e77b669c0c8ca419431" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Views\Shared\_Layout.cshtml"/>
			</Component>
	
			
			</Directory>
												
			<Component Id="cmp8ade863bc2664f3aa71c5bd716cc5a1a" Guid="{8ade863b-c266-4f3a-a71c-5bd716cc5a1a}">
				<File Id="file8ade863bc2664f3aa71c5bd716cc5a1a" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Views\_ViewStart.cshtml"/>
			</Component>
	
			
			</Directory>
												
			<Component Id="cmp136ad254571a4f7fb4c12c2e652c74b5" Guid="{136ad254-571a-4f7f-b4c1-2c2e652c74b5}">
				<File Id="file136ad254571a4f7fb4c12c2e652c74b5" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\favicon.ico"/>
			</Component>
	
												
			<Component Id="cmpe5bbdc81206343198bd17fe44bf8e13d" Guid="{e5bbdc81-2063-4319-8bd1-7fe44bf8e13d}">
				<File Id="filee5bbdc81206343198bd17fe44bf8e13d" KeyPath="yes" Source="C:\Code\m\Sciendo.Index\SlIndex\Sciendo.Music.Web\Global.asax"/>
			</Component>
	
			
		</DirectoryRef>
	</Fragment>
	<Fragment>
		<ComponentGroup Id="Sciendo.Music.Web.Files">
					<ComponentRef Id="cmp8e74f32e821542e6839c3655264e1d9d"/>
					<ComponentRef Id="cmpeedfbad0b75746358d4afb9b33e08995"/>
					<ComponentRef Id="cmp7cbc2a0346c64634af41e6e6e887ed02"/>
					<ComponentRef Id="cmpd6058a1ed69344ce814a8326f4c36f1f"/>
					<ComponentRef Id="cmpacc5a221e50742b0b16ddecd7b49f7af"/>
					<ComponentRef Id="cmp07edfd881f5d45bfb89481f2dd1c6bf0"/>
					<ComponentRef Id="cmpa4a90c6550164551bdd33c19f11e50c1"/>
					<ComponentRef Id="cmpc11a2aa659264a168c122c6a781c642b"/>
					<ComponentRef Id="cmpf87c66cac51b461abb837d1184c023b3"/>
					<ComponentRef Id="cmpa7ca3f05f7024f269004a7566fab7b3b"/>
					<ComponentRef Id="cmp17c2eeae7add4c46b3847d8892d25c52"/>
					<ComponentRef Id="cmp3c523e8e7dd64f2faa9fa07094b0c5e2"/>
					<ComponentRef Id="cmp683ae73809e04cfbb93bc93918c3edd7"/>
					<ComponentRef Id="cmp6254816102524b6e93c2eba6e766272a"/>
					<ComponentRef Id="cmp6b72e4960aeb475aad19b1e83c4a122d"/>
					<ComponentRef Id="cmp82be233a79f5420ea3635bf027d65c06"/>
					<ComponentRef Id="cmp961392432dea4e14b6527c14e21c48bc"/>
					<ComponentRef Id="cmp89d15ba7304042f69650a9fbb8bbea3e"/>
					<ComponentRef Id="cmpb4baf8419a184b47ac20e352a5f11b13"/>
					<ComponentRef Id="cmpe5adff4307bb4951a41ae68ee7705a93"/>
					<ComponentRef Id="cmp212374409ce14c83b2e41e7ef025476f"/>
					<ComponentRef Id="cmp91dd17876ba545a4a0976471a4dd52bb"/>
					<ComponentRef Id="cmp5d25a5b760b44624ae74668f478db034"/>
					<ComponentRef Id="cmp2f58987da7c84178a2c2fa82748f82c0"/>
					<ComponentRef Id="cmpc2a2b7f7e93c439da6dd0e62de3b8cba"/>
					<ComponentRef Id="cmp4c27e99c5a3a42b8b304f3e1535532ce"/>
					<ComponentRef Id="cmp75bdf0eace104d71b26631b936c9e7d3"/>
					<ComponentRef Id="cmp8601ceb2334f497e8948544d1a986fa6"/>
					<ComponentRef Id="cmp981be39a5cfa48189ab4805cf461839f"/>
					<ComponentRef Id="cmpd3d2ffab2cc7444fbd1c4f89dc56105a"/>
					<ComponentRef Id="cmpaf827f68c44140bc948fb627aa6e58f7"/>
					<ComponentRef Id="cmp3f4275a867824cc8b05e015fd784f79b"/>
					<ComponentRef Id="cmpb4028cf1e48344579481f015aea9d0c3"/>
					<ComponentRef Id="cmp5d84dc5b2b39440dad7c941177a1f112"/>
					<ComponentRef Id="cmp9429e419fd7740fab51ca1da20f5e33e"/>
					<ComponentRef Id="cmp670609dc202e4942bc122928de8c4c94"/>
					<ComponentRef Id="cmp14e178ff73a64f4794b5c71a30d00af0"/>
					<ComponentRef Id="cmp123c534e5dc542cc97229601b9d796e8"/>
					<ComponentRef Id="cmp8b954ca8b5274462afdd943c7dcc7aa7"/>
					<ComponentRef Id="cmp5624421a1a724251861b096daa2c35af"/>
					<ComponentRef Id="cmp9327b2537d9e42b1a5f0f9361e1f8724"/>
					<ComponentRef Id="cmpd49a8bcc5be24d96ba3f48587958d0c4"/>
					<ComponentRef Id="cmpfce1154bfaa446c29d28867ea9a8f2c8"/>
					<ComponentRef Id="cmpf3c36b7418e547a8a15adde2e83c969f"/>
					<ComponentRef Id="cmpf322cdc3ea314e8fa781b8a17ede4593"/>
					<ComponentRef Id="cmp7b4f2b952bbf42fbaa351d20bc0b7e7d"/>
					<ComponentRef Id="cmpbfaf8d143ac54161ab5cf768cedc042e"/>
					<ComponentRef Id="cmpeadb79677a8649548ad85eb8b8fbbe25"/>
					<ComponentRef Id="cmp974dd56e28c44ce7b63c58243017ac48"/>
					<ComponentRef Id="cmp6be64378e2ea4265b4e620e808fb5a2f"/>
					<ComponentRef Id="cmpa0e9fc63dd2248abb8ac095787081871"/>
					<ComponentRef Id="cmp22172def312343c8a25f15b5bb6a736d"/>
					<ComponentRef Id="cmp5bb1e30134fa4e95b3a74c8db2d79530"/>
					<ComponentRef Id="cmp49616fa858eb4b4a9a79640b4a8b9744"/>
					<ComponentRef Id="cmp2e8b500edc3943b0a868a482e9f7be8e"/>
					<ComponentRef Id="cmpdf012928128d4679a2817758a01ba650"/>
					<ComponentRef Id="cmpdc6c13c38f6c491ba605f6346f3cffb7"/>
					<ComponentRef Id="cmp328fa2b4c4ac433bafe8f11a730c4be5"/>
					<ComponentRef Id="cmp479be98a0e2e4874a7bd0ecb4f3e9361"/>
					<ComponentRef Id="cmp085ecde662624a9e8d23f30af8c5dcd7"/>
					<ComponentRef Id="cmpe25ba55433a94b0c852dc22c0409bfff"/>
					<ComponentRef Id="cmp6c7ac08bf01e471395a6fac4d503bff7"/>
					<ComponentRef Id="cmpf5d313917bf54367aeed13529b96385c"/>
					<ComponentRef Id="cmp4f00fc907fda4799997fdc20c93eb9b7"/>
					<ComponentRef Id="cmpd8b0f584751c47af82a53ca035205120"/>
					<ComponentRef Id="cmp30100927fdc14e95b3c5fff3526e7da5"/>
					<ComponentRef Id="cmp3646eba273214d0bb1450b2c7dc78176"/>
					<ComponentRef Id="cmp110c3563bb3644d2a1cb0ee1cb7cace2"/>
					<ComponentRef Id="cmp95cd5b53cadd4cfa9d468eef1651ebdd"/>
					<ComponentRef Id="cmpa45d819f020d40419603930df59f340a"/>
					<ComponentRef Id="cmpe6c0c9532e8346d185d5195822cff540"/>
					<ComponentRef Id="cmp24e630baae1a4e58a6693fccccba23c9"/>
					<ComponentRef Id="cmp3c9f369f58d24a23a2e2d2f4897336c0"/>
					<ComponentRef Id="cmp2c05033c0e764486afd03316a833cfdc"/>
					<ComponentRef Id="cmpf97dc5ee676f4a5caab36860306f6f90"/>
					<ComponentRef Id="cmp5e068bfebc4f4038a4cc0d35314c0c8e"/>
					<ComponentRef Id="cmp027c6de2a06c44a19d9183f7ab82cdf4"/>
					<ComponentRef Id="cmp8925d27017e84aecb696b9f41be66ea3"/>
					<ComponentRef Id="cmpd68caf63fc5b4169b5c5d8855e1a9ec5"/>
					<ComponentRef Id="cmpa27ddd939e644699987e30fd4106be36"/>
					<ComponentRef Id="cmp63848e757c43460081a5dd86205ba8d0"/>
					<ComponentRef Id="cmp0df2949ff7914530be1122f59509a644"/>
					<ComponentRef Id="cmp52be5eea636a48b8848c10ec29127b11"/>
					<ComponentRef Id="cmpee2a8cf6950347d5bbb122a7b868c2d7"/>
					<ComponentRef Id="cmpe81302398c454d09af4ae879ebace9a5"/>
					<ComponentRef Id="cmpdd00cefa2055474a94f97586386d1da7"/>
					<ComponentRef Id="cmp036f62ad43944ed89b5ecdefa11d6062"/>
					<ComponentRef Id="cmp5b1d97697250495288124fb5df709e1d"/>
					<ComponentRef Id="cmp990c3375a05d42809cee18a4a966cee8"/>
					<ComponentRef Id="cmpca224f707c1c40d28ae522b4f06ce3fe"/>
					<ComponentRef Id="cmp8e75b406d66345adbe726636202f4371"/>
					<ComponentRef Id="cmp9c1cf7313e0b4b3eaa1f83cd633b3892"/>
					<ComponentRef Id="cmp1280e7d7a40440748897bdcfac8760e3"/>
					<ComponentRef Id="cmpd55b5bd34bbe4c688d7147fea600470e"/>
					<ComponentRef Id="cmp8b1172c5ccb74bfcb75481422f0af927"/>
					<ComponentRef Id="cmp94b51d517ae547ffa5103a56160d9876"/>
					<ComponentRef Id="cmp3971755ea5b248d39301effdaec8db40"/>
					<ComponentRef Id="cmp0623759b1e38417d8c8e369aefbd6c63"/>
					<ComponentRef Id="cmpef9b318e1ae1406b984c0d771cd3fcb6"/>
					<ComponentRef Id="cmp7b8033a5fa8f40479b6c98d9f7d4fe64"/>
					<ComponentRef Id="cmpb8291cb075e54144960aa9b8ad0b3a90"/>
					<ComponentRef Id="cmpe2a23f1f1e4a4224a9e5742417019b30"/>
					<ComponentRef Id="cmp5581998a25d84adaa83e48c7b416d754"/>
					<ComponentRef Id="cmp0dbd23acd49c46778431e7bc63ab916b"/>
					<ComponentRef Id="cmp7d25e9d69ea242b590483d1f82b44110"/>
					<ComponentRef Id="cmp468cd430801c4e768817e19b3e7122a5"/>
					<ComponentRef Id="cmp85528587c9f84939ba70e505f587230d"/>
					<ComponentRef Id="cmp2de7404b4d914f2ea28191fe69453d66"/>
					<ComponentRef Id="cmp3896df129f494d5692ee74da52f34f68"/>
					<ComponentRef Id="cmp24a96d2c3c2e40c796f06a2f6f50506f"/>
					<ComponentRef Id="cmp4f15570fb6e749af85ad86b6cf1dbc4c"/>
					<ComponentRef Id="cmpd6cc5bdabae4464b9f9d035048691111"/>
					<ComponentRef Id="cmp1b88bf66793349f286ccbbf8a67ecaec"/>
					<ComponentRef Id="cmp4a6b50099c7e40c2a0c21b2217c8bc05"/>
					<ComponentRef Id="cmp51a0d06c98f94e4ba1ee7cb6b570ce6e"/>
					<ComponentRef Id="cmp6836401e5df14c5a93e937db0e9eaf59"/>
					<ComponentRef Id="cmp4876c574f8344c1d93a78292df05f7c3"/>
					<ComponentRef Id="cmpc12fa42fe2f14a1aba71167000461c98"/>
					<ComponentRef Id="cmpaed3e3ba1a474834ae5ed7668ea74e23"/>
					<ComponentRef Id="cmp9f157226ebf1486ca3adf604b4098dfa"/>
					<ComponentRef Id="cmpf19bb27c9bae4871b8a7775a9c697b67"/>
					<ComponentRef Id="cmp05b79be36aef4958aca7963fe12beb4d"/>
					<ComponentRef Id="cmp0188b25f2e85458fa392f81cba2d6776"/>
					<ComponentRef Id="cmp37fd383fb49443a1aa3e719f570939b5"/>
					<ComponentRef Id="cmp76a1dab798434883bfa444cac5f2f1a3"/>
					<ComponentRef Id="cmpc88065c258ab4e77b669c0c8ca419431"/>
					<ComponentRef Id="cmp8ade863bc2664f3aa71c5bd716cc5a1a"/>
					<ComponentRef Id="cmp136ad254571a4f7fb4c12c2e652c74b5"/>
					<ComponentRef Id="cmpe5bbdc81206343198bd17fe44bf8e13d"/>
				</ComponentGroup>

	</Fragment>
</Wix>

