<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAnalysis" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7080/AnalysisService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IAnalysis" contract="IAnalysis"
                name="WSHttpBinding_IAnalysis">
                <identity>
                    <servicePrincipalName value="host/sciendo-Laptop" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>