@Scripts.Render("~/bundles/feedback")
<div id="feedbackArea">
    <div class="feedbackMessages" data-bind="if:started, visible:started">
        <div data-bind="visible:indexingStarted" class="indexingMessages">
            <span data-bind="text:indexingStatusMessage" style="display:inline;" /></span>
            <span data-bind="text:indexingActivityDetails" class="messages-details"></span>
        </div>
        <div data-bind="visible:getLyricsStarted" class="indexingMessages">
            <span data-bind="text:getLyricsStatusMessage" style="display:inline;" /></span>
            <span data-bind="text:getLyricsActivityDetails" class="messages-details"></span>
        </div>
        <div data-bind="visible:playlistStarted" class="playlistMessages">
            <span data-bind="text:playlistStatusMessage" style="display:inline;" /></span>
            <span data-bind="text:playlistActivityDetails" class="messages-details"></span>
        </div>
        <div data-bind="visible:analysisStarted" class="analysisMessages">
            <span id="analysisStatus" data-bind="text:analysisStatusMessage" style="display:inline;"></span>
            <span id="analysisDetails" data-bind="text:analysisActivityDetails" class="messages-details"></span>
        </div>
    </div>
</div>


