@Scripts.Render("~/bundles/feedback")
<div id="feedbackArea">
    <div data-bind=" if:analysisStarted, visible:analysisStarted" class="feedbackMessages">
        <p><label data-bind="text:statusMessage" /></p>
        <label data-bind="text:activityDetails" />
    </div>
</div>


