<?xml version="1.0" encoding="utf-8" ?>

<!--<appSettings>
    <add key="log4net.NullText" value=""/>
    -->
<!--<add key="log4net.NotAvailableText" value=""/>-->
<!--
  </appSettings>-->

<log4net>

  <appender name="IndexerAgentDebugAppender" type="log4net.Appender.RollingFileAppender">
    <file value="IndexerAgentCoreDebug.log" />
    <appendToFile value="true" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <rollingStyle value="Size" />
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date Thread: [%thread] - [%property{IndexerAgentDebug}] - %message%newline" />
    </layout>
  </appender>
  <appender name="IndexerAgentPerformanceAppender" type="log4net.Appender.RollingFileAppender">
    <file value="IndexerAgentCorePerformance.log" />
    <appendToFile value="true" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <rollingStyle value="Size" />
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %message%newline" />
    </layout>
  </appender>

  <appender name="IndexerAgentSystemErrorLogAppender" type="log4net.Appender.RollingFileAppender">
    <file value="IndexerAgentCoreSystemError.log" />
    <appendToFile value="true" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <rollingStyle value="Size" />
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%property{ProcessName}] %message, %exception, %date%newline" />
    </layout>
  </appender>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="RollingFileAppender" />
  </root>

  <logger name="IndexerAgent.SystemError">
    <level value="ERROR"/>
    <appender-ref ref="IndexerAgentSystemErrorLogAppender"/>
    <appender-ref ref="ColoredConsoleAppender"/>
  </logger>

  <logger name="IndexerAgent.PerformanceLog">
    <level value="DEBUG" />
    <appender-ref ref="IndexerAgentPerformanceAppender" />
  </logger>

  <logger name="IndexerAgent.Debug">
    <level value="DEBUG" />
    <appender-ref ref="IndexerAgentDebugAppender" />
  </logger>

  <!-- BEGIN - Fine grain configuration, feel free to adapt it -->

  <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
    <immediateFlush value="true" />
    <layout type="log4net.Layout.SimpleLayout" />
  </appender>

  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="IndexerAgentRollingFile.log" />
    <appendToFile value="true" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <rollingStyle value="Size" />
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date Thread: [%thread] - [%logger] [%method] - %message%newline" />
    </layout>
  </appender>

</log4net>
