<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="indexDataProvider" type="Sciendo.Music.DataProviders.Configuration.IndexDataProviderConfigurationSection, Sciendo.Music.DataProviders, Version=1.0.0.0, Culture=neutral" />
    <section name="ioc" type="Sciendo.IOC.Configuration.IOCConfigurationSection, Sciendo.IOC.Configuration" />
    <section name="queryDataProvider" type="Sciendo.Music.DataProviders.Configuration.QueryConfigurationSection, Sciendo.Music.DataProviders, Version=1.0.0.0, Culture=neutral" />
    <section name="playerProcessProvider" type="Sciendo.Music.DataProviders.Configuration.PlayerConfigurationSection, Sciendo.Music.DataProviders, Version=1.0.0.0, Culture=neutral" />
  </configSections>
  <ioc>
    <assemblies>
      <add key="real" assemblyFilter="Sciendo.Music.DataProviders.dll" />
      <add key="mock" assemblyFilter="Sciendo.Music.DataProviders.Mocks.dll" />
    </assemblies>
  </ioc>
  <indexDataProvider currentDataProvider="mock"/>
  <queryDataProvider currentDataProvider="mock" solrConnectionString="http://localhost:8090/solr/medialib/select" pageSize="25" />
  <playerProcessProvider currentPlayerProcess="mock" playerProcessIdentifier="clementine" />
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IMusic" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7000/MusicAgentService" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IMusic" contract="MusicClient.IMusic"
        name="WSHttpBinding_IMusic">
        <identity>
          <servicePrincipalName value="host/EUNBH6SMTZ1.idev.spencerstuart.com" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
