<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" >
  <Product Id="*" Name="Sciendo.Music.Agent" Language="1033" Version="1.0.0.0" Manufacturer="Sciendo" UpgradeCode="ec0d31db-499a-4559-b071-6b1cc4f202dc">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <PropertyRef Id="NETFRAMEWORK45"></PropertyRef>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    <Property Id="SOLRHOSTNAME" Value="localhost"/>
    <Property Id="SOLRPORT" Value="8090"/>
    <Property Id="SOLRCORE" Value="medialib"/>
    <Property Id="PACKAGERETAINERLIMIT" Value="25" />
    <Property Id="MUSICROOTDIR" Value="C:\"/>
    <Property Id="LYRICSROOTDIR" Value="C:\"/>
    <Property Id="AGENTHTTPADDRESS" Value="http://localhost:7080/"/>
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />
    <Condition Message='This setup requires the .NET Framework 4.5 installed.'>
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <Feature Id="Sciendo.Music.Agent" Title="Sciendo Music Agent" Level="1" ConfigurableDirectory="INSTALLLOCATION" AllowAdvertise="no">
      <ComponentRef Id="ProgramMenuDir"/>
      <Component Id="cmp1" Directory="INSTALLLOCATION" Guid="{55E6555D-BE00-42C4-91A4-0F43A55A7351}">
        <File Id="fil1" KeyPath="yes" Source="..\MusicAgent\log4net.config" />
      </Component>
      <Component Id="cmp2" Directory="INSTALLLOCATION" Guid="{EE7DD892-DF81-447D-808B-748B0044EA12}">
        <File Id="fil2" KeyPath="yes" Source="..\MusicAgent\log4net.dll" />
      </Component>
      <Component Id="cmp3" Directory="INSTALLLOCATION" Guid="{0EAF7B84-6C0A-48D4-A210-4CBE2AA9E0FC}">
        <File Id="fil3" KeyPath="yes" Source="..\MusicAgent\ExampleNeedsPostProcessing.xml" />
      </Component>
      <Component Id="cmp4" Directory="INSTALLLOCATION" Guid="{49F474DE-4E13-4C4B-9411-E5714AB91A63}">
        <File Id="fil4" KeyPath="yes" Source="..\MusicAgent\ExampleNoLyrics.xml" />
      </Component>
      <Component Id="cmp5" Directory="INSTALLLOCATION" Guid="{94A1E764-ECCA-4324-A6B4-D75CC4BF5741}">
        <File Id="fil5" KeyPath="yes" Source="..\MusicAgent\Id3.dll" />
      </Component>
      <Component Id="cmp6" Directory="INSTALLLOCATION" Guid="{24BC2DEF-470D-4AD9-B224-AB4E9E07E035}">
        <File Id="fil6" KeyPath="yes" Source="..\MusicAgent\Id3.Files.dll" />
      </Component>
      <Component Id="cmp7" Directory="INSTALLLOCATION" Guid="{0F937A74-02C1-458D-A4C6-A8389CFC2FA3}">
        <File Id="fil7" KeyPath="yes" Source="..\MusicAgent\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="cmp8" Directory="INSTALLLOCATION" Guid="{17B7AE46-5626-4317-9E3E-D3F26840B6A6}">
        <File Id="fil8" KeyPath="yes" Source="..\MusicAgent\Sciendo.Common.dll" />
      </Component>
      <Component Id="cmp9" Directory="INSTALLLOCATION" Guid="{9D948D7A-67D5-4F02-8EE4-B37CE1861BE3}">
        <File Id="fil9" KeyPath="yes" Source="..\MusicAgent\Sciendo.IOC.dll" />
      </Component>
      <Component Id="cmp10" Directory="INSTALLLOCATION" Guid="{B3D05113-A73C-4F09-B2F0-495805D86E76}">
        <File Id="fil10" KeyPath="yes" Source="..\MusicAgent\Sciendo.IOC.Configuration.dll" />
      </Component>
      <Component Id="cmp11" Directory="INSTALLLOCATION" Guid="{0519C324-129C-4BDB-A82D-1C1D28319677}">
        <File Id="fil11" KeyPath="yes" Source="..\MusicAgent\Sciendo.Music.Contracts.dll" />
      </Component>
      <Component Id="cmp12" Directory="INSTALLLOCATION" Guid="{B856A4BC-7C31-409F-9B95-E986D4BCF498}">
        <File Id="fil12" KeyPath="yes" Source="..\MusicAgent\Sciendo.Music.Mocks.dll" />
      </Component>
      <Component Id="cmp13" Directory="INSTALLLOCATION" Guid="{7E6A2802-2944-44EF-9A55-8B5C350C13FA}">
        <File Id="fil13" KeyPath="yes" Source="..\MusicAgent\Sciendo.Music.Real.dll" />
      </Component>
      <Component Id="cmp14" Directory="INSTALLLOCATION" Guid="{BDD904BD-DDAA-4185-BDF6-FF82CCEF9159}">
        <File Id="fil14" KeyPath="yes" Source="..\MusicAgent\System.Net.Http.Formatting.dll" />
      </Component>
      <Component Id="Sciendo.Music.Agent.exe.config" Directory="INSTALLLOCATION" Guid="{40F2FA20-26E2-4F97-9731-1A036B29C5AE}">
        <File Id="Sciendo.Music.Agent.exe.config" KeyPath="yes" Source="..\MusicAgent\Sciendo.Music.Agent.exe.config" />
        <util:XmlFile Id="SetSolrConnectionString"
                      Action="setValue"
                      ElementPath="//agent/@solrConnectionString"
                      Value="http://[SOLRHOSTNAME]:[SOLRPORT]/solr/[SOLRCORE]/update/json?commitWithin=1000"
                      File="[#Sciendo.Music.Agent.exe.config]" />
        <util:XmlFile Id="SetRetainerLimit"
                      Action="setValue"
                      ElementPath="//agent/@packagesRetainerLimt"
                      Value="[PACKAGERETAINERLIMIT]"
                      File="[#Sciendo.Music.Agent.exe.config]" />
        <util:XmlFile Id="SetMusicRootFolder"
                      Action="setValue"
                      ElementPath="//agent/music/@sourceDirectory"
                      Value="[MUSICROOTDIR]"
                      File="[#Sciendo.Music.Agent.exe.config]" />
        <util:XmlFile Id="SetLyricsRootFolder"
                      Action="setValue"
                      ElementPath="//agent/lyrics/@sourceDirectory"
                      Value="[LYRICSROOTDIR]"
                      File="[#Sciendo.Music.Agent.exe.config]" />
        <util:XmlFile Id="SetAgentBaseHTTPAddress"
                Action="setValue"
                ElementPath="//system.serviceModel/services/service/host/baseAddresses/add/@baseAddress"
                Value="[AGENTHTTPADDRESS]MusicAgentService"
                File="[#Sciendo.Music.Agent.exe.config]" />
      </Component>
      <Component Id="Sciendo.Music.Agent" Directory="INSTALLLOCATION" Guid="{4BB26F14-6AAD-41D0-90DB-B0249A139725}">
        <File Id="Sciendo.Music.Agent.exe" Name="Sciendo.Music.Agent.exe" Source="..\MusicAgent\Sciendo.Music.Agent.exe" Vital="yes" KeyPath="yes"/>
        <ServiceInstall
          Id="MusicAgentInstaller"
          Type="ownProcess"
          Vital="yes"
          Name="Sciendo.Music.Agent"
          DisplayName="Sciendo Music Agent"
          Description="Monitores folders [MUSICROOTDIR] and [LYRICSROOTDIR] and indexes changes http://[SOLRHOSTNAME]:[SOLRPORT]/solr/[SOLRCORE]."
          Start="auto"
          Account="LocalSystem"
          ErrorControl="ignore"
          Interactive="no">
        </ServiceInstall>
        <!--<ServiceControl Id="StartMusicAgent" Start="install" Stop="both" Remove="uninstall" Name="Sciendo.Music.Agent" Wait="yes" />-->
      </Component>
      <ComponentRef Id="LOGS"/>
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="Sciendo" Name="Sciendo">
          <Directory Id="INSTALLLOCATION" Name="Sciendo.Music.Agent">
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="Sciendo.Music.Agent">
          <Component Id="ProgramMenuDir" Guid="{26F451D3-B079-4BBD-80BE-0E836BE7C34E}">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\Sciendo\Sciendo.Music.Agent" Type="string" Value="" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
      <Directory Id="LOGS" Name="Logs">
        <Directory Id="SciendoLogs" Name ="Sciendo">
          <Directory Id="Sciendo.Music.Agent.Logs" Name="Sciendo.Music.Agent">
              <Directory Id="Release.Logs" Name="Release">
                <Component Id="LOGS" Guid="{A8B0F2D3-AEF2-4CE4-AC97-4FCCF846A4BE}"
                SharedDllRefCount="no" KeyPath="no" NeverOverwrite="no" Permanent="no" Transitive="no"
                Win64="no" Location="either">
                  <CreateFolder/>
                </Component>
              </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <UI Id="MyWixUI">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Advanced" />
      <Dialog Id="MusicDirDlg" Width="370" Height="270" Title="Music Root Folder selection">
        <Control Id="PathEdit" Type="PathEdit" X="25" Y="202" Width="320" Height="18" Property="VALTEMP" />
        <Control Id="OK" Type="PushButton" X="240" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUIOK)">
          <Publish Property="MUSICROOTDIR" Value="[VALTEMP]" Order="1">1</Publish>
          <Publish Event="EndDialog" Value="Return" Order="2">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="ComboLabel" Type="Text" X="25" Y="58" Width="44" Height="10" TabSkip="no" Text="!(loc.BrowseDlgComboLabel)" />
        <Control Id="DirectoryCombo" Type="DirectoryCombo" X="70" Y="55" Width="220" Height="80" Property="VALTEMP" Fixed="yes" Remote="yes">
          <Subscribe Event="IgnoreChange" Attribute="IgnoreChange" />
        </Control>
        <Control Id="WixUI_Bmp_Up" Type="PushButton" X="298" Y="55" Width="19" Height="19" ToolTip="!(loc.BrowseDlgWixUI_Bmp_UpTooltip)" Icon="yes" FixedSize="yes" IconSize="16" Text="!(loc.BrowseDlgWixUI_Bmp_Up)">
          <Publish Event="DirectoryListUp" Value="0">1</Publish>
        </Control>
        <Control Id="NewFolder" Type="PushButton" X="325" Y="55" Width="19" Height="19" ToolTip="!(loc.BrowseDlgNewFolderTooltip)" Icon="yes" FixedSize="yes" IconSize="16" Text="!(loc.BrowseDlgNewFolder)">
          <Publish Event="DirectoryListNew" Value="0">1</Publish>
        </Control>
        <Control Id="DirectoryList" Type="DirectoryList" X="25" Y="83" Width="320" Height="98" Property="VALTEMP" Sunken="yes" TabSkip="no" />
        <Control Id="PathLabel" Type="Text" X="25" Y="190" Width="320" Height="10" TabSkip="no" Text="!(loc.BrowseDlgPathLabel)" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.BrowseDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="This is the root folder of your music library." />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="Select a folder" />
      </Dialog>
      
      <Dialog Id="LyricsDirDlg" Width="370" Height="270" Title="Lyrics Root Folder selection">
        <Control Id="PathEdit" Type="PathEdit" X="25" Y="202" Width="320" Height="18" Property="VALTEMP" />
        <Control Id="OK" Type="PushButton" X="240" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUIOK)">
          <Publish Property="LYRICSROOTDIR" Value="[VALTEMP]" Order="1">1</Publish>
          <Publish Event="EndDialog" Value="Return" Order="2">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="ComboLabel" Type="Text" X="25" Y="58" Width="44" Height="10" TabSkip="no" Text="!(loc.BrowseDlgComboLabel)" />
        <Control Id="DirectoryCombo" Type="DirectoryCombo" X="70" Y="55" Width="220" Height="80" Property="VALTEMP" Fixed="yes" Remote="yes">
          <Subscribe Event="IgnoreChange" Attribute="IgnoreChange" />
        </Control>
        <Control Id="WixUI_Bmp_Up" Type="PushButton" X="298" Y="55" Width="19" Height="19" ToolTip="!(loc.BrowseDlgWixUI_Bmp_UpTooltip)" Icon="yes" FixedSize="yes" IconSize="16" Text="!(loc.BrowseDlgWixUI_Bmp_Up)">
          <Publish Event="DirectoryListUp" Value="0">1</Publish>
        </Control>
        <Control Id="NewFolder" Type="PushButton" X="325" Y="55" Width="19" Height="19" ToolTip="!(loc.BrowseDlgNewFolderTooltip)" Icon="yes" FixedSize="yes" IconSize="16" Text="!(loc.BrowseDlgNewFolder)">
          <Publish Event="DirectoryListNew" Value="0">1</Publish>
        </Control>
        <Control Id="DirectoryList" Type="DirectoryList" X="25" Y="83" Width="320" Height="98" Property="VALTEMP" Sunken="yes" TabSkip="no" />
        <Control Id="PathLabel" Type="Text" X="25" Y="190" Width="320" Height="10" TabSkip="no" Text="!(loc.BrowseDlgPathLabel)" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.BrowseDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="This is the root of your lyrics library." />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="Select a folder" />
      </Dialog>


      <Dialog Id="MySynchDlg" Width="370" Height="270"
               Title="Settings - [ProductName]" NoMinimize="yes">

        <!-- Music Root Dir prompt -->
        <Control Id="MusicRootDirLabel" Type="Text" X="25" Y="53" Width="100" Height="15" TabSkip="no" Text="&amp;Music Root Directory:"/>
        <Control Id="MusicRootDirPathValue" Type="PathEdit" X="25" Y="65" Width="235" Height="18" Property="MUSICROOTDIR"/>
        <Control Id="MusicRootDirPathButton" Type="PushButton" X="290" Y="65" Width="50" Height="17" Text="Browse">
          <Publish Property="VALTEMP" Value="[MUSICROOTDIR]" Order="1">1</Publish>
          <Publish Event="SpawnDialog" Value="MusicDirDlg" Order="2">1</Publish>
        </Control>
        <!-- Lyrics Root Dir prompt -->
        <Control Id="LyricsRootDirLabel" Type="Text" X="25" Y="83" Width="100" Height="15" TabSkip="no" Text="&amp;Lyrics Root Directory:"/>
        <Control Id="LyricsRootDirPathValue" Type="PathEdit" X="25" Y="98" Width="235" Height="18" Property="LYRICSROOTDIR"/>
        <Control Id="LyricsRootDirPathButton" Type="PushButton" X="290" Y="98" Width="50" Height="17" Text="Browse">
          <Publish Property="VALTEMP" Value="[LYRICSROOTDIR]" Order="1">1</Publish>
          <Publish Event="SpawnDialog" Value="LyricsDirDlg" Order="2">1</Publish>
        </Control>
        <!-- Solr Host Name prompt-->
        <Control Id="SolrHostNameLabel" Type ="Text" X="25" Y="116" Width="150" Height="15" TabSkip="no" Text="&amp;Solr Host Name:"/>
        <Control Id="SolrHostNameValue" Type ="Edit" X="25" Y="131" Width="150" Height="18" Property="SOLRHOSTNAME"/>

        <!-- Solr Port prompt-->
        <Control Id="SolrPortLabel" Type ="Text" X="190" Y="116" Width="150" Height="15" TabSkip="no" Text="Solr &amp;Port:"/>
        <Control Id="SolrPortValue" Type ="Edit" X="190" Y="131" Width="150" Height="18" Integer="yes" Property="SOLRPORT"/>

        <!-- Solr Core Name prompt-->
        <Control Id="SolrCoreNameLabel" Type ="Text" X="25" Y="149" Width="150" Height="15" TabSkip="no" Text="Solr &amp;Core Name:"/>
        <Control Id="SolrCoreNameValue" Type ="Edit" X="25" Y="164" Width="150" Height="18" Property="SOLRCORE"/>

        <!-- Package Retainer Limit prompt-->
        <Control Id="PackageRetainerLimitLabel" Type ="Text" X="190" Y="149" Width="150" Height="15" TabSkip="no" Text="Package &amp;Retainer Limit:"/>
        <Control Id="PackageRetainerLimitValue" Type ="Edit" X="190" Y="164" Width="150" Height="18" Integer="yes" Property="PACKAGERETAINERLIMIT"/>

        <!-- Agent Http Address prompt-->
        <Control Id="AgentHttpAddressLabel" Type ="Text" X="25" Y="182" Width="100" Height="15" TabSkip="no" Text="&amp;Agent Http Address:"/>
        <Control Id="AgentHttpAddressValue" Type ="Edit" X="25" Y="197" Width="315" Height="18" Property="AGENTHTTPADDRESS"/>

        <!-- Back button -->
        <Control Id="Back" Type="PushButton" X="180" Y="248"
                Width="56" Height="17" Text="&amp;Back">
          <Publish Event="NewDialog" Value="InstallDirDlg">1</Publish>
        </Control>
        <Control Id="Next" Type="PushButton" X="236" Y="248"
               Width="56" Height="17" Default="yes" Text="&amp;Next">
          <Publish Event="NewDialog" Value="VerifyReadyDlg">
            <!--if settings are correct, allow next dialog-->
            <![CDATA[MUSICROOTDIR <> ""]]>
          </Publish>
          <Publish Property="MUSICROOTDIR" Value="[MUSICROOTDIR]"></Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="248"
                   Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0"
             Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="Description" Type="Text" X="25" Y="23"
               Width="280" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>Please enter Music Root Directory</Text>
        </Control>
        <Control Id="BottomLine" Type="Line" X="0" Y="248"
              Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6"
                Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Title}Sciendo Music Agent Configuration</Text>
        </Control>
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
      </Dialog>


      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
      <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="1">NOT Installed</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="1">Installed AND PATCH</Publish>

      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath" Order="2">NOT WIXUI_DONTVALIDATEPATH</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="MySynchDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MySynchDlg" Order="1">NOT Installed</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed AND NOT PATCH</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">Installed AND PATCH</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

    </UI>
    <UIRef Id="WixUI_Common" />

  </Fragment>
</Wix>