@{
    ViewBag.Title = "Search";
    ViewBag.SearchSelected = "selected";
    ViewBag.Current = "query";
}
<input id="text" type="text"  data-bind="attr: {placeholder: criteriaPlaceholder}, value: criteria, selected: false, blurOnEnter: true, valueUpdate: 'afterkeydown', enterkey: getResults"/>
<p class="error" data-bind="text: error"></p>
<div data-bind="with: resultData">
        <input id="removeFilter" type= "button" value="Remove filter" data-bind="visible:$root.facetFiltered, click: $root.getResults"/>
        <div class="all-facets" data-bind="if:$root.hasFacets()">
            <div class="facet-titles-row">
                <div class="facet-title" data-bind="text: fields[0].Name"></div>
                <div class="facet-title" data-bind="text: fields[1].Name"></div>
                <div class="facet-title" data-bind="text: fields[2].Name"></div>
            </div>
            <div class="facet-row">
                <div class="facet-cell" data-bind="foreach: fields[0].Values">
                    <p><input type="radio" data-bind="value:Key, checked: $root.selectedFacetValue, click:$root.artistFacetSelected"/><span data-bind="text: ' ' + Key +' ('+ Count+')'"></span></p>
                </div>
                <div class="facet-cell" data-bind="foreach: fields[1].Values">
                    <p><input type="radio" data-bind="value:Key, checked: $root.selectedFacetValue, click:$root.extensionFacetSelected" /><span data-bind="text: ' ' + Key +' ('+ Count+')'"></span></p>
                </div>

                <div class="facet-cell" data-bind="foreach: fields[2].Values">
                    <p><input type="radio" data-bind="value:Key, checked: $root.selectedFacetValue, click:$root.letterFacetSelected" /><span data-bind="text: ' ' + Key +' ('+ Count+')'"></span></p>
                </div>

            </div>
    </div>
    <a href="#" id="navigationquery" class="previous" data-bind="text: 'Previous ' + $root.pageInfo().RowsPerPage, visible:$root.pageInfo().PageStartRow, click:$root.getPreviousPage"></a>
    <span id="paginginfo" data-bind="text: 'Showing items ' +$root.pageInfo().PageStartRow + ' to ' + $root.pageLastIndex() +' of ' + $root.pageInfo().TotalRows"></span>
    <a href="#" id="navigationquery" class="next" data-bind="text: 'Next ' + $root.pageInfo().RowsPerPage, visible:$root.notMaxPage, click:$root.getNextPage"></a>
    <div class="queryGrid" data-bind="simpleGrid:gridViewModel"></div>
    <a href="#" id="navigationquery" class="previous" data-bind="text: 'Previous ' + $root.pageInfo().RowsPerPage, visible:$root.pageInfo().PageStartRow, click:$root.getPreviousPage"></a>
    <a href="#" id="navigationquery" class="next" data-bind="text: 'Next ' + $root.pageInfo().RowsPerPage, visible:$root.notMaxPage, click:$root.getNextPage"></a>

</div>

@section scripts
{

    @Scripts.Render("~/bundles/query")

}
